<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  #
  RewriteRule ^u/(.+)/page/(.+)/pageno/(.+)$ index.php/Ei/User/page?username=$1&id=$2&pageno=$3 [NC,QSA,PT,L]
  RewriteRule ^u/(.+)/page/(.+)$ index.php/Ei/User/page?username=$1&id=$2 [NC,QSA,PT,L]
  RewriteRule ^u/(.+)/article/(.+)$ index.php/Ei/User/article?username=$1&id=$2 [NC,QSA,PT,L]
  RewriteRule ^u/(.+)/product$ index.php/Ei/User/product?username=$1 [NC,QSA,PT,L]
  RewriteRule ^u/(.+)/product/(.*)/pageno/(.+) index.php/Ei/User/product?username=$1&id=$2&pageno=$3 [NC,QSA,PT,L]
  RewriteRule ^u/(.+)/product/(.+)$ index.php/Ei/User/product?username=$1&id=$2 [NC,QSA,PT,L] 
  RewriteRule ^u/(.+)/i/(.+)$ index.php/Ei/User/pc?username=$1&id=$2 [NC,QSA,PT,L] 
  RewriteRule ^u/(.+)/about/(.+)$ index.php/Ei/User/about?username=$1&id=$2 [NC,QSA,PT,L] 
  RewriteRule ^u/(.+)$ index.php/Ei/User/index?username=$1 [NC,QSA,PT,L]
  
  RewriteRule ^page/(.+)/pageno/(.+)$ index.php/Home/Index/page?id=$1&pageno=$2 [NC,QSA,PT,L]
  RewriteRule ^page/(.+)$ index.php/Home/Index/page?id=$1 [NC,QSA,PT,L]
  RewriteRule ^article/(.+)$ index.php/Home/Index/article?id=$1 [NC,QSA,PT,L]
  RewriteRule ^about/(.+)$ index.php/Home/Index/about?id=$1 [NC,QSA,PT,L]
  RewriteRule ^(Home|Admin|Ei)/?(.*)$ index.php/$1/$2 [NC,QSA,PT,L]
</IfModule>