
<!DOCTYPE HTML>
<html>
<head>
    <title>超级后台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link href="__ROOT__/Public/adminassets/css/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="__ROOT__/Public/adminassets/css/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="__ROOT__/Public/adminassets/css/main-min.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="header">

    <div class="dl-title">
        <!-- <img src="__ROOT__/Public/adminassets/img/top.png"> -->
		<p>
		<span><a href="{:U('Admin/Index/index')}">登陆时间:{$Think.session.lastlogintime}</a></span>
                           现在时间：<span id='nowDateTimeSpan'></span>
        </p>
    </div>

    <div class="dl-log">欢迎您，<span class="dl-log-user">{$Think.session.nickname}</span><a href="{:U('Admin/Public/logout')}" title="退出系统" class="dl-log-quit">[退出]</a>
    </div>
</div>
<div class="content">
    <div class="dl-main-nav">
        <div class="dl-inform"><div class="dl-inform-title"><span class="dl-inform-icon dl-up"></span></div></div>
        <ul id="J_Nav"  class="nav-list ks-clear">
            <li class="nav-item dl-selected"><div class="nav-item-inner nav-home">系统管理</div></li>		
            <li class="nav-item dl-selected"><div class="nav-item-inner nav-order">业务管理</div></li>
			<li class="nav-item dl-selected"><div class="nav-item-inner nav-order">青木专用</div></li>
        </ul>
    </div>
    <ul id="J_NavContent" class="dl-tab-conten">

    </ul>
</div>
<div>hunterhug填充修补bug</div>
<script type="text/javascript" src="__ROOT__/Public/adminassets/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/adminassets/js/bui-min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/adminassets/js/common/main-min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/adminassets/js/config-min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/tool/timeclock.js"></script>
<script>
    BUI.use('common/main',function(){
        var config = [{
    		id:'1',homePage:'11',menu:[
    		                           		{text:'基础配置',items:[
				    		                         		{id:'12',text:'网站信息',href:"{:U('Admin/Web/index')}"},
				    		                         		{id:'14',text:'图片轮转',href:"{:U('Admin/Photo/index')}"},
				    		                         		{id:'13',text:'企业介绍（单页）',href:"{:U('Admin/About/index')}"}
    		                         		]},
       		                         		{text:'安全配置',items:[
															{id:'16',text:'个人信息',href:"{:U('Admin/Userinfo/index')}"},
															{id:'17',text:'设置密保',href:"{:U('Admin/Userinfo/updatetoken')}"},
															{id:'18',text:'密码修改',href:"{:U('Admin/User/updatepasswd')}"},
															{id:'11',text:'查看帮助',href:"{:U('Admin/About/help')}"},
       		         		                ]},
    		                         		{text:'用户管理',items:[
				    		                         		{id:'19',text:'查看用户',href:"{:U('Admin/User/listuser')}"},
				    		                         		{id:'191',text:'新增用户',href:"{:U('Admin/User/adduser')}"},
				    		                         		{id:'193',text:'认证信息',href:"{:U('Admin/Userinfo/listinfo')}"}
    		                         		]}
    		                         		]},
    		                         		
    		                         		{id:'2',homePage:'21',menu:[
    		                         		{text:'产品管理',items:[
					    		                         		{id:'21',text:'查看产品类目',href:"{:U('Admin/Product/listcate')}"},
					    		                         		{id:'22',text:'新增产品类目',href:"{:U('Admin/Product/addcate')}"},
					    		                         		{id:'23',text:'查看产品',href:"{:U('Admin/Product/listproduct')}"},
					    		                         		{id:'24',text:'新增产品',href:"{:U('Admin/Product/addproduct')}"},
					    		                         		{id:'25',text:'产品回收站',href:"{:U('Admin/Product/rubbish')}"}
					    		                         		]},
    		                         		{text:'文章管理',items:[
    		            		                         		{id:'26',text:'查看文章分类',href:"{:U('Admin/Blog/listcate')}"},
    		            		                         		{id:'27',text:'新增文章分类',href:"{:U('Admin/Blog/addcate')}"},
    		            		                         		{id:'28',text:'查看文章',href:"{:U('Admin/Blog/listpaper')}"},
    		            		                         		{id:'29',text:'新增文章',href:"{:U('Admin/Blog/addpaper')}"},
    		            		                         		{id:'291',text:'文章回收站',href:"{:U('Admin/Blog/rubbish')}"}
    		            		                         		]}
    		                         		]},
    		                                           		{id:'3',homePage:'31',menu:[
    		                																
    		                											{text:'评论分析',items:[
    		                					    		                         		{id:'31',text:'查看评论',href:"{:U('Admin/Qingmu/listcomment')}"},
    		                					    		                         		{id:'32',text:'查看字典',href:"{:U('Admin/Qingmu/listdictionary')}"},
    		                					    		                         		{id:'33',text:'查看雷达图',href:"{:U('Admin/Qingmu/render')}"}]},
    		             		                						{text:'时间序列分析',items:[
    		            		                					    		           {id:'34',text:'OA销售数据',href:"{:U('Admin/Qingmu/time')}"},
    		            		                					    		           {id:'35',text:'销售月预测',href:"{:U('Admin/Qingmu/monthstime')}"}
    		            		                					    		                         	]}                       		
    		                    		                         	]},
    		                         		
    		                         		];
        
        new PageUtil.MainPage({
            modulesConfig : config
        });
    });
</script>
</body>
</html>