/*   */
body {
	background-image: url(../Images/2.jpg);
	margin:5%;
	text-align: center;
	/*background-image: url(../Images/login.jpg)*/
}

li {
	list-style-type: none;
}

ol, ul {
	list-style: outside none none;
}

a {
	text-decoration: none;
	color: olive;
}

a:hover {
	color: orange;
}

a:visited {
	color: red
}

.clear {
	clear: both;
}

#head {
	background-image: url(../Images/2.jpg);
	/*background-image: url(../Images/1.jpg);*/
	 border-bottom: 1px solid silver; 
	/* border-radius: 8px; */
	background-color: white;
	margin: 0 auto;
}

#body {
background-image: url(../Images/2.jpg);
background-repeat:repeat;
	/* border: 1px solid gray; */
/* 	border-radius: 10px; */
	margin: 0 auto;
	padding: 10px;
	background-color: white;
	text-align: left;

}
#body:after{content:"";display:block;clear:both;} 
#body #main {
	display: inline-block;
	margin-left: 2%;
	margin-bottom:10px;
	padding-left:1%;
	padding-right:1%;
	/* border: 1px solid silver; */
	float: left;
	width:50%;
}

#body #main p span {
	font-family: sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	color: black;
}

#body #main h2 a {
	text-decoration: none;
	font-size: 1.0em; font-family : 'gandhi_sansregular';
	color: #2a323a;
	display: block;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	font-family: 'gandhi_sansregular';
}

#body #main h2 a:hover {
	color: fuchsia;
	font-size: 1.2em;
	background-color: silver;
}


#body .sider{
	width:45%;
	text-align:center;
	display: inline-block;
	float: right;
}
#body .sider #root{
	/* border: 1px solid silver; */
	margin-bottom: 1%;
}

#body .sider .comment{
	
	display: block;
	margin: 10px auto;
	padding: 10px
}
.me{
			
	text-align:center;
	/* border: 1px solid silver; */
	display: block;
	background-repeat:no-repeat;
	margin: 10px auto;
	/*width:960px;*/
	padding: 10px;
}
.me p{
	font-size: 1.0em;
	color:#444;
	word-wrap:break-word
}
#body .sider .comment .all{
	font-size:1.0em;
	color:gray;
	text-align:left;
   border-bottom: 1px solid silver; 
	display: block;
	margin: 10px auto;
	padding: 10px;
	word-wrap:break-word;word-break:break-all;
}
#body .sider .comment .all span{
	color: blue;
	font-size: 1.1em
}

#body img {
	max-width: 100%
}

#footer {

			background-image: url(../Images/me1.jpg);
	border-top: 1px solid gray;
	/*border-radius: 10px; */
	font-size: 1.1em;
	color:black;
	padding: 1px;
	background-color:white;
	min-height:450px
}

.yao {
	margin: 0;
	padding: 3px;
	margin-right: 10px;
	list-style: none;
	display: inline;
	border: 1px solid pink;
	border-radius: 10px;
}
#paper{
	height:45px;
}
#paper span#p,span#n{
	text-align:center;
	font-size:1.1em;
	display:inline-block;
	width: 45%;
	padding:5px;
	border-bottom: 1px solid silver;
	/*border-radius: 10px;*/
	color:black
}
#paper a:hover{
	color:blue
}

.float {
	float: right;
}

/* nav */
.nav ul {
	margin: 0;
	padding: 0;
}

.nav li {
	font-weight:bold;
	margin: 0;
	padding: 3px;
	list-style: none;
	display: inline-block;
	/* border-right :1px solid gray;*/
	/*border-radius: 5px; */
}

.nav p {
	position: absolute;
	top: 3%;
	right: 5%;
	margin: 0;
	padding: 3px;
	list-style: none;
	display: inline-block;
	border: 2px solid gray;
	border-radius: 10px;
	filter: alpha(opacity = 20);
	-moz-opacity: 0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
}

.nav a {
	text-decoration: none;
	line-height: 100%;
	font-family: 'gandhi_sansregular';
	color: #2a323a;
	padding: 10px;
	display: block;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

.nav a:hover {
	border-top: 5px solid #665cbe;
	color: #665cbe;
}

.nav li a:hover {
	padding-right: 60px;
	padding-left: 60px;
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.nav .current a {
	border-radius: 5px;
	border-top: 5px solid #665cbe;
	color: #665cbe;
}

/* right nav */
.nav.right ul {
	text-align: right;
}

.nav.left ul {
	text-align: left;
}

/* center nav */
.nav.center ul {
	text-align: center;
}

/**/
.pages a, .pages span {
	display: inline-block;
	padding: 2px 5px;
	margin: 0 1px;
	border: 1px solid #f0f0f0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.pages a, .pages li {
	display: inline-block;
	list-style: none;
	text-decoration: none;
	color: #f2cc68;
}

.pages a.first, .pages a.prev, .pages a.next, .pages a.end {
	margin: 0;
}

.pages a:hover {
	border-color: #50A8E6;
}

.pages span.current {
	background: #50A8E6;
	color: #FFF;
	font-weight: 700;
	border-color: #50A8E6;
}
/**/
.float-menu {
	bottom: 105px;
	right: 2%;
	margin-left: 552px;
	position: fixed;
	text-align: left;
	z-index: 1;
}

.btn-to-top {
	background:
		url("../Images/uparrow.png")
		no-repeat scroll 14px 14px #FCFCFC;
	display: block;
	height: 49px;
	overflow: hidden;
	text-indent: -99em;
	width: 58px;
	border-radius: 0px 0px 7px 7px;
	border: 1px solid #E5E5E5;
}

.list-nav .current, .list-nav .current:visited {
	width: 64px;
	height: 38px;
	line-height: 38px;
	background: none repeat scroll 0% 0% #5A6064;
	color: #FFF;
	font-size: 18px;
	margin-left: -4px;
	border-radius: 3px;
}

.list-nav-item, .list-nav-item:visited {
	color: #555;
	display: block;
	height: 26px;
	line-height: 26px;
	text-align: center;
	width: 56px;
}

/**/
@media screen and (max-width: 600px) {

	.nav p {
		position: absolute;
		top: 1px;
		right: -225px;
		
	}
	.nav {
		position: relative;
		min-height: 40px;
	}
	.nav ul {
		width: 90px;
		padding: 4px 0;
		position: absolute;
		top: 0;
		left: 0;
		border: solid 1px #aaa;
		background: #fff url(../Imagess/icon-menu.png) no-repeat 10px 11px;
		border-radius: 5px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	}
	.nav li {
		display: none; /* hide all <li> items */
		margin: 0;
		border: none;
	}
	.nav .current {
		display: block; /* show only current <li> item */
	}
	.nav a {
		display: block;
		padding: 5px 5px 5px 15px;
		text-align: left;
	}
	.nav .current a {
		background: none;
		color: #666;
	}

	/* on nav hover */
	.nav ul:hover {
		background-Images: none;
	}
	.nav ul:hover li {
		display: block;
		margin: 0 0 5px;
	}
	.nav ul:hover .current {
		background: url(Images/icon-check.png) no-repeat 10px 7px;
	}

	/* right nav */
	.nav.right ul {
		left: auto;
		right: 0;
	}

	/* center nav */
	.nav.center ul {
		left: 50%;
		margin-left: -90px;
	}
	.nav li a:hover {
		padding-right: 10px;
		padding-left: 30px;
		filter: alpha(opacity = 50);
		-moz-opacity: 0.5;
		-khtml-opacity: 0.5;
		opacity: 0.5;
	}
	
	.float-menu {
	bottom: 105px;
	right: 0;
	margin-left: 552px;
	position: fixed;
	text-align: left;
	z-index: 1;
}
.btn-to-top {
	display: none;
}

#body .sider{
	width: 100%
}
#body #main{
	width: auto;
}
.list-nav .current, .list-nav .current:visited {
	width: 30px;
	height: 38px;
}

#paper span#p,span#n{
width:41%
}
}