<!DOCTYPE html >
<html>
<head>
<meta charset="UTF-8">
<title>增加文章分类</title>
<link rel="stylesheet" href="__ROOT__/Public/Css/bootstrap.min.css">
</head>
<body>
	<div class='container'  style="margin-bottom: 50px;margin-top: 20px">
	<div class='col-md-9 col-md-offset-1' >
	<form id="user_form" action="{:U('Admin/Blog/addcates')}" role="form">
		<div class="form-group">
			<div class="alert alert-warning" id='warning-block'>
	   			<p>增加分类</p>
			</div>
			<div>
				<label>目录标题</label>
				<input type="text" class="form-control" name="title" id="title"
					placeholder="请输入目录标题" required="required">
			</div>
			<div id="titleTip"></div>
		</div>
		<div class="form-group">
		<label>父目录</label>
				 <select id='mulu' class="form-control" name='mulu'> 
				      <option value=0>---顶级目录---</option> 
				      <volist name='category' id='vo'>
				      <option value={$vo.id}>{$vo.title}</option> 
				      </volist>
		</select>
		</div>
		<div class="form-group">
		<label>目录简介</label>
		<textarea class="form-control" rows="8" id="editor" name="content" placeholder="目录简介"></textarea>
		</div>
		<div class="form-group">
			<label>目录排序</label>
			<input type="number" class="form-control"  name="order" value='0' min="0"/>
		</div>
	   	<div class="form-group">
	   		<label>目录状态</label>
			<div class="radio">
			   <label>
			      <input type="radio" name="status" value="0">禁用目录
			   </label>
			</div>
			<div class="radio">
			   <label>
			      <input type="radio" name="status" value="1" checked>启用目录
			   </label>
			</div>
		</div>
   	
		
	<div class="form-group">
	    <div>
         	<button type="submit" class="btn btn-default">增加分类</button>
      	</div>
   	</div>
   
	</form>
	</div>
	</div>
	<script type="text/javascript" src="__ROOT__/Public/Js/jquery-1.7.2.min.js"></script>
	<script src="__ROOT__/Public/formvalidator4.1.3/formValidator-4.1.3.min.js" type="text/javascript" charset="UTF-8"></script>
	<script src="__ROOT__/Public/formvalidator4.1.3/formValidatorRegex.js" type="text/javascript" charset="UTF-8"></script>
	<script src="__ROOT__/Public/Js/bootstrap.min.js"></script>
		    <!-- 配置文件 -->
    <script src="__ROOT__/Public/ueditor/ueditor.config.js"></script>
    <script src="__ROOT__/Public/ueditor/ueditor.all.min.js"></script>
<!--     <script>
    $(function(){
        var ue = UE.getEditor('editor',{
        	initialFrameHeight:400
        });
    })
    </script> -->
	<script type="text/javascript">
	$(function(){
		$.formValidator.initConfig({formID:"user_form",submitOnce:true,
			onSuccess:function(){
				var registerForm=$("#user_form");
				$.post(registerForm.attr("action"),registerForm.serialize(),function(data){
					alert(data);
					if(data=='增加成功'){
						window.location.href="{:U('Admin/Blog/addcate')}";
						return;
					}
					$('#warning-block p').html('<strong>警告！</strong>'+data);
					return;
				});
			}
		});

		$("#title").formValidator({onShowText:"请输入目录标题"})
		.inputValidator({min:1,max:100,onError:"标题最多100个字符",empty:{leftEmpty:false,rightEmpty:false,emptyError:"标题两边不能为空"}})
	});
	
</script>
</body>
</html>