<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>文章分类</title>
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Others/default/easyui.css" />
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Others/icon.css" />
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Css/demo.css" />
	<script  src="__ROOT__/Public/Js/jquery-1.11.2.min.js"></script>
	<script  src="__ROOT__/Public/Js/jquery.easyui.min.js"></script>
</head>

<body>
  	<table id="dg" title="文章分类（仅支持二级分类）"  style="width:550px;height:250px">
	</table>
	
<div id="toolbar">
	<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="updateuser()">编辑分类</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">删除分类</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="adduser()">增加分类</a>
		  <div><label>目录：</label>
				    <select id='mulu' class="form-control" name='mulu' style='width:200px;margin: 0 5px'> 
				      <option value=0></option> 
				      <volist name='category' id='vo'>
				      <option value={$vo.id}>{$vo.title}</option> 
				      </volist>
		</select>
		<label>状态：</label>
				    <select id='status' class="form-control" name='status' style='width:200px;margin: 0 5px'> 
				      <option value=''></option> 
				      <option value=1>已开启</option> 
				      <option value=0>已关闭</option> 
		</select>
	<a href="#" class="easyui-linkbutton"  onclick="getabout()">查询</a>
	</div> 
</div>

<script type="text/javascript">
$('#dg').datagrid({    
    url:'__CONTROLLER__/listcates',  
    collapsible:true,
    toolbar: '#toolbar',
    rownumbers:true,
    pagination:true,
	pageList:[5,10,30],
	fit:true, 
    columns:[[
        {field:'ck',checkbox:true}, 
        {field:'id',title:'单页ID',width:100,hidden:true},   
        {field:'title',title:'标题',width:200},    
        {field:'createtime',title:'创建时间',width:200},
        {field:'updatetime',title:'更新时间',width:200},
        {field:'order',title:'排序',width:100},
        {field:'status',title:'状态',width:200,    
        	formatter: function(value,row,index){
				//alert(value);
				$para=row.id+',';
				if(value==1){
					return "已开启|<button style='color:red;font-size:1.1em;margin-left:10px;cursor:pointer' onclick='updatestatus("+$para+"0)'>关闭</a>";
				}else{
					return "已关闭|<button style='color:red;font-size:1.1em;margin-left:10px;cursor:pointer' onclick='updatestatus("+$para+"1)'>开启</a>";
				}
				//alert(row);
				//一整行数据
				//alert(index);第几行
			}
        //
        }
    ]]    
});


function destroyUser(){
	var rows = $('#dg').datagrid('getSelections');
	if (rows.length!=0){
		$.messager.confirm('Confirm','你确定要删除?',function(r){
			if (r){
				var uri="__CONTROLLER__/deletecate";
				for(var i=0;i<rows.length;i++){
					var row=rows[i];
					$.post(uri,{'id':row.id},function(result){
						$.messager.show({	// show error message
							title: '消息',
							msg: result
						});
						$('#dg').datagrid('reload');	// reload the user da
				});
				}
			}
		});
	}else{
	alert("请勾选按钮")}
}

function deleteabouts(id,temp){
	$.messager.confirm('Confirm','你确定要删除?',function(r){
		if (r){
			//alert(id);
			$.post('__CONTROLLER__/deleteabouts',{'id':id},function(result){
				$.messager.show({	// show error message
					title: '消息',
					msg: result
				});
				$('#dg').datagrid('reload');	// reload the user da
		});
	}
	});
}
	
function updateuser(){
		var row = $('#dg').datagrid('getSelected');
		if (row){
			window.open("__CONTROLLER__/updatecate?id="+row.id); 
		}else{
			alert("请勾选按钮")}
		}
		
function adduser(){
	window.open("__CONTROLLER__/addcate");
}
		

function getabout(){
	var status=$('#status').val();
	var mulu=$('#mulu').val();
	$('#dg').datagrid('load', {    
	    status: status,
	    mulu:mulu
	});
}

function updatestatus(id,status){
	$.post('__CONTROLLER__/updatestatus',{'id':id,'status':status},function(result){
		$.messager.show({	// show error message
			title: '消息',
			msg: result
		});
		$('#dg').datagrid('reload');	// reload the user da
});
	
}
</script>
</body>
</html>