<!DOCTYPE html >
<html>
<head>
<meta charset="UTF-8">
<title>个人信息</title>
<script src="__ROOT__/Public/Js/angular.js"></script>
<link rel="stylesheet" href="__ROOT__/Public/Css/bootstrap.min.css">
</head>
<body>
	<div class='container'  style="margin-bottom: 50px;margin-top: 20px">
	<div class="row">
		<div class='col-md-6 col-md-offset-1' >
			<form id="user_form" action="{:U('Admin/Userinfo/updateinfo')}" role="form">
			<div class="form-group">
				<div class="alert alert-warning" id='warning-block'>
		   			<p>修改审核通过后需要申请后才能修改</p>
				</div>
				<div>
					<label for='realname'>真名</label>
					<input type="text" class="form-control" name="realname" id="realname"
						placeholder="请输入真名" required="required">
				</div>
				<div id="realnameTip"></div>
			</div>
			<div class="form-group">
				<div>
					<label for='personid'>身份证</label>
					<input type="text" class="form-control" name="personid" id="personid"
						placeholder="请输入身份证" required="required">
				</div>
				<div id="personidTip"></div>
			</div>
			
			<div class="form-group">
				<div>
			    	<label for="address">通讯地址</label>
			    	<textarea class="form-control" rows="5" name="address" id="address" required="required"></textarea>
				</div>
				<div id="addressTip"></div>
			</div>
			
			<div class="form-group">
				<div>
					<label for='phone'>联系电话</label>
					<input type="text" class="form-control" name="phone" id="phone"
						placeholder="请输入手机或电话" required="required">
				</div>
				<div id="phoneTip"></div>
			</div>
		
		<div id='uploadpicture1'></div>
		<div id='uploadpicture2'></div>
		<div class="form-group">
		    <div>
	         	<button type="submit" class="btn btn-default">修改</button>
	      	</div>
	   	</div>
	   	</form>
		</div>	   	
		<div class='col-md-4 col-md-offset-1'>
			<div class="form-group">
      			<img  src="#" id='picture1' class="img-responsive img-thumbnail" alt="logo" style="height: 260px; width: 260px;" />
      			<p>身份证正面</p>
		   		<div id='uploadphotoconfirm1' style='color:red'></div>
   			</div>
   			<div class="form-group">
		    	<div>
	         		<button type="submit" class="btn btn-default" id='upload_button1'>上传Logo</button>
	      		</div>
	   		</div>
	   		
	   		<div class="form-group">
      			<img  src="#" id='picture2' class="img-responsive img-thumbnail" alt="logo" style="height: 260px; width: 260px;" />
      			<p>身份反面</p>
		   		<div id='uploadphotoconfirm2' style='color:red'></div>
   			</div>
   			<div class="form-group">
		    	<div>
	         		<button type="submit" class="btn btn-default" id='upload_button2'>上传</button>
	      		</div>
	   		</div>
		</div>
	</div>
	</div>
	<script type="text/javascript" src="__ROOT__/Public/Js/jquery-1.7.2.min.js"></script>
	<script src="__ROOT__/Public/formvalidator4.1.3/formValidator-4.1.3.min.js" type="text/javascript" charset="UTF-8"></script>
	<script src="__ROOT__/Public/formvalidator4.1.3/formValidatorRegex.js" type="text/javascript" charset="UTF-8"></script>
	<script src="__ROOT__/Public/Js/bootstrap.min.js"></script>
	<script src="__ROOT__/Public/tool/ajaxupload.js"></script>
	<script type="text/javascript">
	$(function(){
		$.formValidator.initConfig({formID:"user_form",submitOnce:true,
			onSuccess:function(){
				var registerForm=$("#user_form");
				$.post(registerForm.attr("action"),registerForm.serialize(),function(data){
					if(data=='修改成功'){
						$("#uploadpicture1").html('');
						$("#uploadpicture2").html('');
						window.location.href="{:U('Admin/Userinfo/index')}";
					}
					$('#warning-block p').html('<strong>警告！</strong>'+data);
					return;
				});
			}
		});

		
		$("#realname").formValidator({onShowText:"请输入真名"})
		.inputValidator({min:4,max:20,onError:"名字太长或太短",empty:{leftEmpty:false,rightEmpty:false,emptyError:"标题两边不能为空"}})
		.regexValidator({regExp:["chinese"],dataType:"enum",onError:"请输入中文名"});
		
		$("#personid").formValidator({onShowText:"请输入15或18位的身份证"})
		.regexValidator({regExp:["idcard"],dataType:"enum",onError:"不符合的身份证"});
		
		$("#address").formValidator({onShowText:"请输入联系地址"})
		.inputValidator({min:0,max:500,onError:"最多500个字符",empty:{leftEmpty:false,rightEmpty:false,emptyError:"描述两边不能为空"}});
		
		$("#phone").formValidator({onFocus:"如0768-8888888或11位手机号码",onCorrect:"谢谢你的合作"})
		.regexValidator({regExp:["tel","mobile"],dataType:"enum",onError:"你输入的手机或电话格式不正确"});
		
		$("#webinfo").formValidator({onShowText:"请输入备案信息"})
		.inputValidator({min:0,max:300,onError:"最多300个字符",empty:{leftEmpty:false,rightEmpty:false,emptyError:"描述两边不能为空"}});
	});
	
</script>
<script>
$(function(){
	var button = $('#upload_button1'), interval;
	var confirmdiv = $('#uploadphotoconfirm1');
    var fileType = "ptic",fileNum = "one"; 
    new AjaxUpload(button,{
        action: "{:U('Admin/Web/uploadimg')}",
        name: 'logo',
        responseType:'json',
        onSubmit : function(file, ext){
            if(fileType == "pic")
            {
                if (ext && /^(jpg|png|jpeg|gif)$/.test(ext)){
                    this.setData({
                        'info': '文件类型为图片'
                    });
                } else {
                	confirmdiv.text('文件格式错误，请上传格式为.png .jpg .jpeg 的图片');
                    return false;               
                }
            }
                        
            confirmdiv.text('文件上传中');
            
            if(fileNum == 'one')
                this.disable();
            
            interval = window.setInterval(function(){
                var text = confirmdiv.text();
                if (text.length <= 5){
                	confirmdiv.text('文件上传中...');                  
                } else {
                	confirmdiv.text('文件上传中');          
                }
            }, 200);
        },
        onComplete: function(file, response){
			if(response.isok != 1){
					confirmdiv.text(response.message);
			}else{
				confirmdiv.text("上传完成");
				$("#picture1").attr("src",response.message);
				$("#uploadpicture1").html("<input type='text' hidden name='picture1' value='"+response.logosql+"'>");
			}
				                                
            window.clearInterval(interval);                
            this.enable();              
        }
    });
});

</script>

<script>
$(function(){
	var button = $('#upload_button2'), interval;
	var confirmdiv = $('#uploadphotoconfirm2');
    var fileType = "ptic",fileNum = "one"; 
    new AjaxUpload(button,{
        action: "{:U('Admin/Web/uploadimg')}",
        name: 'logo',
        responseType:'json',
        onSubmit : function(file, ext){
            if(fileType == "pic")
            {
                if (ext && /^(jpg|png|jpeg|gif)$/.test(ext)){
                    this.setData({
                        'info': '文件类型为图片'
                    });
                } else {
                	confirmdiv.text('文件格式错误，请上传格式为.png .jpg .jpeg 的图片');
                    return false;               
                }
            }
                        
            confirmdiv.text('文件上传中');
            
            if(fileNum == 'one')
                this.disable();
            
            interval = window.setInterval(function(){
                var text = confirmdiv.text();
                if (text.length <= 5){
                	confirmdiv.text('文件上传中...');                  
                } else {
                	confirmdiv.text('文件上传中');          
                }
            }, 200);
        },
        onComplete: function(file, response){
			if(response.isok != 1){
					confirmdiv.text(response.message);
			}else{
				confirmdiv.text("上传完成");
				$("#picture2").attr("src",response.message);
				$("#uploadpicture2").html("<input type='text' hidden name='picture1' value='"+response.logosql+"'>");
			}
				                                
            window.clearInterval(interval);                
            this.enable();              
        }
    });
});

</script>
</body>
</html>