/*第一种*/
.fy
{
    text-align: center;
    font-size:12px;
    clear: both;
    height:30px;
    line-height:30px;
    padding: 3px;
    margin: 3px;
    padding-top:5px;
}
.fy A
{
    color: #000099;
    text-decoration: none;
    border: 1px solid #9B161D;
    padding: 2px 5px 2px 5px;
    margin-right:2px;
}
.fy A:hover
{
    border: 1px solid #9B161D;
    color: #000;
}
.fy .current
{
    border: 1px solid #9B161D;
    padding: 2px 5px 2px 5px;
    font-weight: bold;
    margin-right:2px;
    color: #fff;
    background-color: #9B161D;
}