  @charset "utf-8";
/* CSS Document */
.main_warp{ padding:110px 0 0; min-height:500px;}
.focus_warp{ height:420px; overflow: hidden; position:relative;}
/*focusBox*/
.focusBox { position:absolute; left:50%; top:0; margin-left:-720px; width:1440px; height:410px;}	
.focusBox .pic{width:100%; height:400px;margin:0 auto}	
.focusBox .pic img { width:100%; height:400px; display: block; }	
.focusBox .hd { width:920px; position: absolute; left:50%; top:50%; margin:140px 0 0 -503px; text-align:right; padding-right:86px; font-size:0; z-index:1; /*display:none;*/}	
.focusBox .hd li{margin: 0 5px; background: url(../images/dot.png) no-repeat 0 -12px; height: 12px; overflow: hidden; width: 12px; cursor: pointer; display:inline-block; }	
.focusBox .hd .on{ background-position:0 0; }	
.focusBox .prev,.focusBox .next { width:75px; height: 75px; margin:195px 0 0; /*display: none;*/ background: url(../images/ad_ctr.png) no-repeat 0 0; position: absolute; top:0; z-index: 10; cursor: pointer; text-indent: -9999px;}	
.focusBox .prev { left:12%; }	
.focusBox .next { background-position: -75px 0; right:12%; }	
.focusBox .prev:hover{background-position:0 -75px;}	
.focusBox .next:hover{background-position:-75px -75px;}	
/*content_bottom_box*/
.content_bottom_box{ position:absolute; bottom:0; left:50%; margin:0 0 20px -503px; z-index:100; width:1006px; height:110px; background:url(../images/rec_bg1.png) no-repeat;}
.tig_box{ height:388px; background:#fff; width:332px; overflow:hidden; }
.tig_box ul{ position:relative; width:234px; height:248px; padding:40px 50px 0; overflow:hidden; }
.tig_box ul li{color:#fff; font-size:16px; line-height:26px; background:url(../images/rec_bg3.png) left 10px no-repeat; padding:0 0 0 18px;}
.content_bottom_tig{width:332px;height:100px;position:absolute;overflow:hidden;}
.place1{ left:5px; bottom:5px;  }
.place1 .tig_box ul{ background:#98896c url(../images/rec_bg2.jpg) right bottom no-repeat;}
.place2{ left:337px; bottom:5px;  }
.place2 .tig_box ul{ background:#98896c url(../images/rec_bg4.jpg) right bottom no-repeat;}
.place3{ right:5px; bottom:5px;  }
.place3 .tig_box ul{ background:#98896c url(../images/rec_bg5.jpg) right bottom no-repeat;}
.content_bottom_tig h4{ width:330px; border-left:1px solid #d6d0c9; border-right:1px solid #d6d0c9; height:100px; text-align:center;}
.content_bottom_tig h4 a{display:block; height:100px; background:#f7efe8;}
.content_bottom_tig h4 a:hover,.content_bottom_tig h4 a.hover{ background:#f7efe8;}

/*follow_warp*/
.follow_warp{ width:100%;/* margin:27px 0 0;*/ min-height:185px; padding:50px 0; background: #ece3d5 url(../images/follow_bg1.gif) repeat-x;}
.follow{ width:1006px; margin:0 auto;}
.follow_l{ width:700px; float:left; padding:0 0 0 12px;}
.follow_l h6{ font-weight:normal; font-size:36px; color:#8f806a;}
.follow_des{ font-size:14px; line-height:26px; color:#585858; padding:20px 0 0;}
.follow_r{ width:282px; float:right;}
.follow_r img{ vertical-align:middle;}
.erweima{ margin-left:25px;}

/*pro_warp*/
.pro_warp{ width:100%; min-height:200px; background: url(../images/pro_bg1.gif) repeat-x;/*#f7efe8*/ padding:0 0 50px;}
.pro{ width:80%; margin:0 auto;}
.common_tit1{ font-size:36px; font-weight:normal; color:#8f806a; background:url(../images/tit1_bg2.png) right 52px repeat-x;}
.tit_box{ display:block; overflow:hidden; background:url(../images/tit1_bg.png) left top no-repeat; padding:33px 0 0 7px;border-bottom:2px dotted white}
.common_tit1 em{ display:inline-block; padding:0 25px 0 16px; background:#eaeaea;/*f7efe8*/ float:left;}
.more_01{ display:block; width:50px; height:22px; padding:0 0 0 7px; line-height:20px; font-size:14px; color:#fff; background:#8a1f24 url(../images/more_ico1.png) 37px center no-repeat; float:right; margin-top:19px;}
.more_01:hover{ background:#d70b24 url(../images/more_ico1.png) 37px center no-repeat; color:#fff;}
.pro_con{ margin:55px 0 0; letter-spacing:0.038em; background:#e6dfd9; overflow:hidden;}
.pro_sheet{ width:70%; border:1px solid #d1cbc7; border-right:none; float:left;}
.pro_sheet tr td{ height:45px; line-height:45px; font-size:16px; color:#666767; text-align:center; border-right:1px solid #d1cbc7; background:#f7efe8;}
.pro_sheet tr td.pro_name{ color:#323333; text-align:left; padding-left:24px;}
.pro_sheet tr td.pro_name a{color:#323333;}
.pro_sheet tr.sheet_tit td{ height:53px; line-height:53px; border-bottom:1px solid #dcd5d0; background:#e6dfd9; color:#939393;}
.jing_ico{ padding-left:12px;}
.pro_sheet tr:hover td,.pro_sheet tr.tr_cur td{background:#e6dfd9;}
.pro_sheet tr:hover td.red_block,.pro_sheet tr.tr_cur td.red_block{ background:#8a1f24;}
.pro_sheet tr td.red_block{ background:#fff;}
.pro_sheet tr.sheet_tit td.red_block{ border-bottom:none;}
.pro_sheet tr.sheet_tit:hover td.red_block{ background:#fff;}
.pro_box{ width:28%; height:329px; float:right;}
.td_detail{ width:189px; margin:0 auto; padding:37px 0 0}
.pro_name2{ font-weight:normal; font-size:18px; padding-bottom:7px;}
.pro_name2 a{ color:#323333;}
.kai_day{ color:#666767; font-size:14px; padding-bottom:30px;}
.zeng_lv,.jing_zhi{ color:#8a1f24;}
.zeng_lv{ padding-bottom:12px; margin-bottom:20px; border-bottom:1px dashed #d6d0cb;}
.zeng_lv em,.jing_zhi em{ display:block; font-size:36px; text-align:center;}
.jing_zhi em img{ vertical-align:middle; padding-left:25px;}

/*about_warp*/
.about_warp{ width:100%; min-height:100px; padding:60px 0 93px; background:#eaeaea url(../images/about_bg1.gif) repeat-x;}
.about{ width:80%; margin:0 auto;}
.about_l{ width:30%; float:left; padding:20px 0 0;}
.about_tit{ font-weight:normal; font-size:22px; padding-bottom:6px; border-bottom:1px dashed #cfcfcf;}
.about_tit a{color:#8a1f24;}
.about_des{ line-height:18px; color:#808080; height:108px; overflow:hidden; padding:20px 0 0;}
.more_02{ display:inline-block; height:35px; line-height:35px; padding:0 18px; background:#ece3d5; font-size:16px; color:#6d4f3a; margin:40px 0 0;}
.more_02:hover{ background:#ebddc6;}
/*about_tab*/
.about_tab{width:67%; border:1px solid #dddddd; float:right;}
.about_tab .hd{ position:relative; }
.about_tab .hd ul{ height:50px;}
.about_tab .hd ul li{ float:left; height:47px; border-top:3px solid #d9dada; border-right:1px solid #e6e6e6; background:#d9dada; width:240px; text-align:center; cursor:pointer; font-size:21px; color:#666767; }
.about_tab .hd ul li.on{background:#fff url(../images/about_ico1.png) center bottom no-repeat; border-top:3px solid #801e22; color:#323333;}
.about_tab .bd{ height:250px; /*padding:14px;*/ background:#fff;}
.about_info{ padding:14px;width:96%}
.info_pic img{ display:block; width:30%; height:222px; float:left;}
.info_r{ width:65%; float:right;}
.info_rec{ overflow:hidden; padding-bottom:7px; border-bottom:1px dashed #e7e7e7;}
.info_rec h3{ padding-bottom:10px; border-bottom:1px dashed #e7e7e7; margin-bottom:8px;}
.info_rec h3 a{ font-size:14px; color:#585858; font-weight:normal;}
.info_des{ line-height:18px; height:54px; letter-spacing:0.04em; overflow:hidden; clear:#939393;}
.info_rec .more_01{ margin:0 8px 0 0;}
.info_list{ padding:7px 0 0; line-height:28px;}
.info_list li a{ font-size:14px; color:#585858;}

/*cooper_warp*/
.cooper_warp{ min-height:100px; background:#eaeaea url(../images/pro_bg1.gif) repeat-x;}
.cooper{ width:1006px; margin:0 auto;}
.cooper .common_tit1 em{ background:#eaeaea;}
.cooper_list{ padding:20px 0 60px; margin-left:-91px;}
.cooper_area{ position:relative; float:left; margin:0 0 0 91px;}
.cooper_menu{ cursor:pointer;}
.cooper_menu span,.cooper_menu em{ display:block; float:left; width:13px; height:40px; background:#ece3d5; line-height:40px;}
.cooper_menu span{ width:166px; font-size:18px; color:#808080; text-align:center;}
.cooper_menu em{ background:#ece3d5 url(../images/cooper_ico1.png) center center no-repeat; margin-left:3px;}
.cooper_box{ position:absolute; top:0; left:0; margin:0 0 0 183px; background:#ece3d5; color:#99999a; padding:12px; min-width:188px; height:130px; line-height:22px; z-index:-1000000;}
.cooper_scrbar{position:relative;}
.cooper_scrbar .viewport{ width:180px; height:130px; overflow: hidden; position: relative; margin-left:8px; }
.cooper_scrbar .overview{width:180px; position: absolute; left: 0; top: 0; }
.cooper_scrbar .scrollbar { width:1px; position:absolute; left:0; top:0;}
.cooper_scrbar .track{ background:#b6b2ab;height: 100%; width:1px; position: relative;}
.cooper_scrbar .thumb { background:#8a1f24; height:58px; width:3px; cursor: pointer; overflow: hidden; position: absolute; top: 0; margin-left:-1px;}
.cooper_scrbar .thumb:hover{background:#d90000;}
.cooper_scrbar .disable { display: none; }
/*service*/
.service{ height:40px; line-height:40px; background:#939394; font-size:20px; color:#d0d1d1; position:relative;}
.service span{ padding-left:50px;}
.service span img{ vertical-align:middle; padding-right:13px;}
.service span.service_tit{ padding:0 140px 0 20px; cursor:pointer;}
.service a{ color:#d0d1d1;}
.service_box{ position:absolute; bottom:0; left:0; margin:0 0 0 0; color:#fff; width:100%; height:235px; background:url(../images/service_bg1.png) repeat; line-height:normal; display:none;}
.service_tit2{ font-weight:normal; font-size:20px; color:#fff;}
.service_tit2 img{ vertical-align:middle; padding-right:6px;}
.service_l{ width:530px; padding:25px 0 0 50px; float:left; font-size:14px; line-height:22px; color:#adadae;}
.service_tit3{ font-weight:normal; font-size:16px; color:#fff; padding:30px 0 20px;}
.service_list{ width:342px; float:right; padding:68px 44px 0 0;}
.service_list span{ display:block; float:left; width:153px; height:41px; text-align:center; line-height:41px; color:#fff; background:url(../images/service_bg2.png) repeat-x; padding:0; margin:0 18px 18px 0;}
.service_list span img{ vertical-align:middle;}
.service_list span:hover{background:url(../images/service_bg2b.png) repeat-x;}
.copyright{ float:right; padding:20px 46px 0 0; line-height:22px;}
    .copyright a {
        color: #fff;
    }

/*menu_warp*/
.menu_warp{ width:100%; padding:32px 0;/* background:#ece3d5;*/}
.center{ width:1006px; margin:0 auto ;}
.menu_list{ margin-left:-1px;}
.menu_list a{ display:block; float:left; width:19.90%; height:50px; background:#dbd4c7; text-align:center;; line-height:50px; color:#666767; font-size:20px; margin-left:1px;}
.menu_list a:hover,.menu_list a.menu_cur{ color:#fff; background:#8a1f24;}
.position_warp{ height:62px; line-height:62px; background:url(../images/pro_bg1.gif) repeat-x; font-size:14px; color:#808080;}
.position_warp a{ color:#808080;}
.position_warp a:hover,.position_warp a.position_cur{ color:#231815;}

/*intro_warp1*/
.intro_warp1{ min-height:400px; padding:40px 0 60px; background:url(../images/sub_bg2.gif) repeat-x;}
.intro{}
.intro dt img{ display:block; width:287px; height:349px; float:left;}
.intro dd{ width:566px; float:left; padding:0 0 0 77px;}
.intro_tit{ font-weight:normal; font-size:70px; color:#231815; width:142px; float:left; padding:33px 0 0;}
.intro_tit em{ display:block; font-size:26px; color:#858586;}
.intro_text{ width:386px; float:left; padding:117px 0 0 38px;}
.intro_des{ width:380px; font-size:18px; line-height:40px; color:#6e4f3a;}
.zhaizi{ font-size:16px; line-height:40px; color:#808080; padding-top:32px;}
.leader_name{ text-align:right; padding:12px 0 0;}

/*record_warp*/
.record_warp{ width:100%; min-height:100px; background:#eaeaea url(../images/about_bg1.gif) repeat-x;}
.record{}
.record .common_tit1{ background:none;}
.record .common_tit1 em{ background:#eaeaea;}
.record_con{ width:878px; margin:70px auto 0;}
.record_area{ padding-bottom:70px; overflow:hidden;}
.record_area dt{ float:left; width:300px; padding-right:44px; color:#000000; font-size:48px;}
.record_area dt em{ display:block;}
.record_area dt em img{ vertical-align:middle; padding-right:8px; margin-top:-13px;}
.record_area dt.dt_dif { line-height:48px;}
.record_area dt.dt_dif em{ display:inline-block; width:48px; color:#b70b24; vertical-align:top; margin-left:3px;}
.record_area dd{ width:485px; float:left; position:relative; margin-left:48px;}
.record_ico{ display:block; width:86px; height:86px; background:url(../images/record_ico2.png) no-repeat; position:absolute; top:50%; left:0; margin-top:-43px;}
.record_area dd .record_list{ width:445px; margin-left:43px; background:#fff; padding:10px 0 10px 73px; color:#595757; line-height:22px; }
.record_area1 dd{ width:534px; float:left; background:url(../images/record_bg1.png) left bottom no-repeat; padding-bottom:109px; margin-left:0;}
.record_area1 dd .record_list{ margin-left:14px;}
.record_list li{ width:355px; padding-bottom:10px; background:url(../images/list_ico3.png) 4px top repeat-y; }
.record_list li p{ display:block; background:url(../images/list_ico2.png) left 7px no-repeat;padding-left:47px;}
.record_area2 .record_list li{ width:392px; }


/*results_warp*/
.results_warp{ width:100%; min-height:100px; padding:30px 0 60px; background:url(../images/pro_bg1.gif) left top repeat-x;}
.results_tit{ font-weight:normal; font-size:36px; color:#8f806a;}
.results{ width:877px; margin:70px auto 0;}
.results tr td{ height:32px; line-height:32px; color:#fff; background:#8a1f24; text-align:center; margin-bottom:14px;}
.results tr.jiange td{ background:none; height:14px; line-height:14px; overflow:hidden;}
.results tr.results_caption td{ font-size:16px; color:#231815; background:none;}
.results tr.fuhe td{color:#231815; background:#e6dfd9;}
.results_tip{ color:#808080; line-height:20px; margin-top:38px;}
.results_tip span{ display:inline-block; color:#fff; background:#8a1f24; padding:0 3px 0 6px; margin-right:5px;}

/*common_warp*/
.common_warp{ width:100%; min-height:100px; padding:80px 0 0; background:#eaeaea  url(../images/pro_bg1.gif) repeat-x;}
.service_link{ margin-left:-17px; padding-bottom:128px;}
.service_link a{display:block; width:324px; height:115px; background:#000; float:left; margin-left:17px;}
.service_link a img{ display:block; width:324px; height:115px; }

/*company_banner*/
.company_banner{width:100%; min-height:100px; background:#eaeaea;}
.company_banner img{ display:block; width:1020px; height:408px; margin:0 auto;}
.about_other{ width:100%; min-height:100px; background:url(../images/pro_bg1.gif) repeat-x; padding:32px 0 45px;}
.other_abox{ width:1040px; margin:0 auto; position:relative;}
/*about_other*/
.about_other .hd{ width:100%; height:129px; position:absolute; top:0; left:-2px; }
.about_other .hd ul{ height:129px; margin-left:-42px;}
.about_other .hd ul li{ float:left; width:177px; height:129px; line-height:129px; padding:0 0 0 51px; font-size:28px; color:#595757; margin-left:42px;}
.about_other .hd ul li a{ color:#595757;}
.about_other .hd ul li.on{background:url(../images/about_bg2.png) no-repeat; color:#fff;}
.about_other .hd ul li a:hover,.about_other .hd ul li.on a{ color:#fff;}
.about_other .bd{ height:477px;  padding:127px 0 0 13px; background:url(../images/about_bg4.gif)  center 104px no-repeat;}
.about_box{}
.company_intro{ width:960px; height:447px; overflow:hidden; margin:30px auto 0;}
.about_pic,.about_pic img{ display:block; width:354px; height:423px; overflow:hidden; float:left;}
.about_text{ width:562px; float:left; padding:22px 0 0 35px; line-height:18px; color:#808080;}
.more_03{ display:block; float:right; width:100px; height:35px; background:#8a1f24; color:#fff; font-size:16px; text-align:center; line-height:35px; margin:40px 10px 0 0;}
.more_03:hover{ background:#a4262c; color:#fff;}
.manage_team{ position:relative;}
.manage_team img{ display:block; width:1018px; height:475px; margin:0 0 0 -2px;}
.manage_team .more_03{ position:absolute; right:0; bottom:0; margin:0 40px 32px 0;}

/*absolute_warp1*/
.absolute_warp1{ min-height:100px; /*background:#ece3d5 url(../images/sub_bg1.gif) repeat-x;*/ background:url(../images/pro_bg1.gif) left top repeat-x; padding-bottom:55px;}
.absolute{width:1040px; margin:0 auto;}
.absolute .common_tit1{ width:1026px; margin-left:-6px;}
.absolute .common_tit1 em{ background:#eaeaea;}
.absolute_intro{ position:relative; margin:70px 0 0;}
.absolute_intro .hd{ width:1000px; height:92px; position:absolute; top:0; left:20px; background:#d9d0c3;}
.absolute_intro .hd ul{ height:92px;}
.absolute_intro .hd ul li{ float:left; width:50%; height:92px; line-height:92px; text-align:center; line-height:92px; font-size:24px; color:#363f45;}
.absolute_intro .hd ul li a{ color:#363f45;}
.absolute_intro .hd ul li.on{background:#8a1f24; color:#fff;}
.absolute_intro .hd ul li a:hover,.absolute_intro .hd ul li.on a{ color:#fff;}
.absolute_intro .bd{ height:568px; padding:92px 0 0 13px; background:url(../images/absolute_bg1.gif) center 67px no-repeat;}
/*method*/
.method{ padding:55px 0 0 36px;}
.method_pic{ width:325px; float:left;}
.method_pic img{ display:block; width:325px; height:453px;}
.method_text{ width:532px; float:left; font-size:14px; line-height:30px; color:#808080; padding:0 0 0 60px; margin-top:-26px;}
.method_tit{ font-weight:normal; font-size:36px; color:#9b8063; padding:26px 0 20px;}
/*condition*/
.condition{ padding:130px 0 0 60px; margin-top:-74px;}
.condition dl{ overflow:hidden; margin-bottom:74px;}
.condition dl dt{ display:inline-block; vertical-align:middle; color:#595757; font-size:60px;}
.condition dl dt img{ display:inline-block; vertical-align:middle; width:220px; height:192px; margin-right:18px;}
.condition dl dd{display:inline-block; vertical-align:middle; min-height:90px; background:url(../images/condition_bg1.gif) left center no-repeat; padding:0 0 0 30px; font-size:16px; color:#666666; margin-left:18px; width:480px; overflow:hidden;}
.condition dl dd p{ display:block; background:url(../images/condition_bg2.gif) left 24px no-repeat; padding:16px 0 16px 26px;}
.condition dl:hover dt{color:#8a1f24;}

/*study_warp*/
.study_warp{ width:100%; min-height:100px; background:#eaeaea url(../images/about_bg1.gif) repeat-x;}
.study{ width:1014px; 
margin:0 auto;
}
.study .common_tit1{ width:1026px; margin-left:-16px;}
.study .common_tit1 em{ background:#eaeaea; line-height:normal;}
.study_tit{ font-size:16px; font-weight:normal;}
.study_des{ width:995px; margin:0 auto; padding:37px 0 0; line-height:18px; color:#808080;}
.study_pic{ width:995px; margin:30px auto 0;}
.study_pic img{ display:block; max-width:995px;}

/*for_warp*/
.for_warp{ width:100%; min-height:100px; background:url(../images/pro_bg1.gif) repeat-x;}
.for{ width:1020px; margin:0 auto;}
.for .common_tit1{ width:1026px; margin-left:-16px;}
.for .common_tit1 em{ background:#eaeaea;}
.scr_left{ width:1052px;  overflow:hidden; position:relative; margin-top:45px;}
.scr_left .hd{}
.scr_left .hd .prev,.scr_left .hd .next{ display:block; width:39px; height:118px; overflow:hidden; cursor:pointer; position:absolute; top:50%; margin-top:-59px; background:url(../images/study_bg2.gif) no-repeat;}
.scr_left .hd .prev{ background-position:0 0; left:0;}
.scr_left .hd .next{ background-position:-39px 0; right:0; }
.scr_left .hd .prev:hover,.scr_left .hd .prevStop{ background-position:0 -118px; }
.scr_left .hd .next:hover,.scr_left .hd .nextStop{ background-position:-39px -118px; }
.scr_left .hd ul{ display:none; float:right; overflow:hidden; zoom:1; margin-top:10px; zoom:1; }
.scr_left .hd ul li{ float:left;  width:9px; height:9px; overflow:hidden; margin-right:5px; text-indent:-999px; cursor:pointer; background:url("../images/icoCircle.gif") 0 -9px no-repeat; }
.scr_left .hd ul li.on{ background-position:0 0; }
.scr_left .bd{ width:960px; margin:0 0 0 45px; overflow:hidden;}
.scr_left .bd ul{ overflow:hidden; zoom:1; }
.scr_left .bd ul li{ margin:0 2px; padding:13px 12px; float:left; _display:inline; overflow:hidden;  background:url(../images/study_bg1.png) no-repeat;}
.scr_left .bd ul li img{ width:212px; height:256px; display:block; margin-bottom:24px;}
.scr_left .bd ul li a{ font-size:16px; color:#808080;}
.scr_left .bd ul li a p em{ display:block; font-size:24px; color:#231815; padding-bottom:16px;}
.scr_left .bd ul li a:hover,.scr_left .bd ul li a:hover p em{  color:#8a1f24;}
/*study_flow*/
.study_flow{ margin:80px 0 0;}
.flow_tit{ font-weight:normal; font-size:36px; color:#8f806a; margin-left:6px;}
.flow_pic{ width:930px; margin:30px 0 130px;}
.flow_pic img{ display:block; max-width:930px;}
.system_menu{}
.system_menu a{ width:24.90%;}
.person_warp{ width:100%; min-height:100px; padding-bottom:30px; background:#eaeaea url(../images/about_bg1.gif) repeat-x;}
.person{}
.person .common_tit1{ background:none; margin-left:-26px;}
.person .common_tit1 em{ background:#eaeaea;}
.person_info{ overflow:hidden; margin:40px 0 0 -20px;}
.person_info dt{ width:310px; height:367px; background:url(../images/person_bg1.png) no-repeat; float:left;}
.person_info dt img{ display:block; width:275px; height:332px; margin:0 auto; padding:17px 0;}
.person_info dd{ width:578px; min-height:306px; padding:27px 0 0 72px; border-left:2px solid #878180; margin-left:53px; margin-top:18px; float:left; line-height:28px; color:#808080;}
.person_name{ font-weight:normal; font-size:36px; color:#8f806a; padding-bottom:56px;}
.zhiwei{ font-size:30px; line-height:55px; color:#595757; padding-bottom:5px;}
.person_page{ text-align:center; cursor:pointer; font-size:16px; color:#808080;}
.person_page img{ vertical-align:middle; margin:0 7px;}
.person_page span:hover{ color:#8a1f24;}

/*trends_warp*/
.trends_warp{}
.trends{}
.trends{ position:relative; margin:70px 0 0;}
.trends .hd{ width:100%; background:#eaeaea url(../images/trends_bg2.gif) left bottom repeat-x; height:330px; padding:30px 0 0; position:absolute; top:0; left:0;}
.trends .hd ul{ width:1020px; margin:0 auto; height:330px;}
.trends .hd ul li{ float:left; width:328px; height:330px; text-align:center; margin-left:12px;}
.trends .hd ul li a{ display:block; width:318px; margin:9px 0 0 0;}
.trends .hd ul li a img{ display:block; width:318px; height:187px;}
.trends_txt{ display:block; background:#000; height:116px; color:#fff; font-size:24px; line-height:58px; letter-spacing:0.01em;}
.trends_txt em,.trends_txt i{ display:block;}
.trends .hd ul li.on{ background:url(../images/trends_bg3.png) no-repeat;}
.trends .hd ul li.on .trends_txt{ background:none; color:#000000;}
.trends .hd ul li a:hover,.trends .hd ul li.on a{ color:#fff;}
.trends .bd{ width:100%; min-height:200px; padding:388px 0 30px;/* background:#f7efe8 ;*/}
.trends_box{ width:1000px; margin:0 auto;}
.trends_year{ text-align:right; font-size:40px; color:#8a1f24;}
.trends_prev,.trends_next{ display:inline-block; width:13px; height:25px; background:url(../images/trends_bg4.png) no-repeat; vertical-align:middle; cursor:pointer; -webkit-transition:all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s; -ms-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s;  transition: all 0.3s ease 0s; margin-top:-6px;}
.trends_prev{ background-position:0 0;}
.trends_prev:hover{ background-position:0 -25px;}
.trends_next{ background-position:-13px 0;}
.trends_next:hover{ background-position:-13px -25px;}
.trends_list{ padding:25px 0 32px; margin-bottom:13px; background:url(../images/trends_bg5.gif) center bottom repeat-x}
.trends_list li{ overflow:hidden; margin-bottom:4px;}
.date{ display:block; float:left; width:110px; height:96px; text-align:center; background:#e3dbd5;}
.date em,.date i{ display:block;}
.date em{ height:28px; line-height:28px; overflow:hidden; background:#d3ccc7; color:#fff; font-size:15px;}
.date i{ height:68px; line-height:68px; font-size:36px; color:#8a1f24;}
.li_r{ width:883px; height:95px; line-height:95px; overflow:hidden; border-bottom:1px solid #c9c6c2; float:right;}
.li_r a{ display:block; float:left; font-size:18px; color:#231815; width:562px; padding:0 0 0 60px;}
.laiyuan{ padding-right:45px; float:right;}
.trends_list li.list_first .li_r{height:94px; line-height:94px; border-top:1px solid #c9c6c2; }


/*serve_warp1*/
.serve_warp1{ width:100%; min-height:100px; padding:70px 0 45px; background:#eaeaea;}
.serve{ width:933px; margin:0 auto;}
.serve_area{ padding:11px; border:1px solid #b2b3b3; float:left; margin-right:5px;}
.serve_area a img{ display:block; width:281px; height:267px; margin-bottom:17px;}
.serve_area a p{ height:72p; line-height:72px; overflow:hidden; background:#aeafaf; text-align:center; font-size:26px; color:#231815; -webkit-transition:all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s; -ms-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s;  transition: all 0.3s ease 0s;}
.serve_area:hover a p{ background:#8a1f24; color:#fff;}

/*login_warp*/
.login_warp{ width:100%; min-height:100px; padding-bottom:75px; background:url(../images/pro_bg1.gif) repeat-x;}
.login{ width:1006px; margin:0 auto;}
.login .common_tit1{ margin-left:-16px;}
.login_form{ height:225px; background:#fff; border:1px solid #e5e3e0; margin:70px 0 0; color:#231815;}
.login_tit{ height:46px; line-height:46px; background:#eaeaea; font-weight:normal; font-size:21px; color:#8a1f24; padding:0 0 0 23px;}
.login_l{ width:634px; float:left; padding:25px 0 0 30px;}
.login_line{ margin-bottom:13px;}
.login_line label{ padding-right:22px;}
.login_txt{ width:140px; height:14px; padding:5px 0 5px 10px; background:#eaeaea;}
.w68{ width:58px;}
.w140{ width:130px;}
.login_sel{ width:87px; height:22px; border:1px solid #eaeaea; font-family:"微软雅黑";}
.login_btn1{ display:inline-block; width:66px; height:22px; border:1px solid #bd8184; background:#8a1f24; color:#fff; line-height:22px; text-align:center; cursor:pointer; vertical-align:middle; margin-left:42px; margin-right:2px;}
.login_btn1:hover{ color:#808080; background:none; text-decoration:underline;}
.forget{ display:inline-block; width:68px; height:20px; color:#808080; text-decoration:underline; text-align:center; cursor:pointer; vertical-align:middle; border:1px solid #bd8184;}
.forget:hover{background:#8a1f24; color:#fff; text-decoration:none;}
.login_r{ width:224px; float:right; min-height:73px; border-left:1px solid #9f9e9f; margin:43px 0 0; padding:25px 60px 0 54px;}
.cha_tit{ padding-bottom:15px;}
.login_btn2{ margin-left:6px;}

/*load_warp*/
.load_warp{ width:100%; min-height:100px; padding-bottom:90px; background:#ece3d5 url(../images/sub_bg1.gif) repeat-x;}
.load{ width:1006px; margin:0 auto;}
.load .common_tit1{ margin-left:-16px;}
.load .common_tit1 em{ background:#ece3d5;}
.load_list{ margin:75px 0 0 22px;}
.load_list a{ display:block; width:23%; text-align:center; float:left; font-size:24px; color:#363f45;}
.load_list a img{ vertical-align:bottom; padding-right:20px;}

/*tixi_warp*/
.tixi_warp{ width:100%; min-height:100px; background:url(../images/pro_bg1.gif) repeat-x;}
.tixi{ width:1006px; margin:0 auto;}
.tixi .common_tit1{ margin-left:-16px;}
.tixi_list{ padding-bottom:110px;}
.tixi_list li{ font-size:16px; color:#666666; line-height:30px; padding-top:72px;}
.tixi_tit{ font-size:19px; color:#333333; font-weight:normal; background:url(../images/tixi_bg1.gif) left bottom no-repeat; padding-bottom:10px; padding-left:8px; margin-bottom:25px;}

/*message_warp*/
.message_warp{ width:100%; min-height:100px; padding-bottom:80px; background:#eaeaea url(../images/about_bg1.gif) repeat-x;}
.serve_menu a{ width:24.56%;}
.message{ width:1006px; margin:0 auto;}
.message .common_tit1{ background:none; margin-left:-26px;}
.message .common_tit1 em{ background:#eaeaea;}
/*message_form*/
.message_form{ font-size:18px; color:#231815; padding:60px 0 100px;}
.message_line{ padding-bottom:20px;}
.message_line label{ display:inline-block; width:106px; text-align:right; padding-right:20px;}
.message_txt{ width:330px; height:16px; background:#d7d7d7; padding:10px 0 10px 10px; font-size:14px;}
.message_tip{ font-size:14px; padding-left:20px; color:#8a1f24;}
.w784{ width:774px;}
.message_area{ width:774px; height:225px; padding:10px 0 10px 10px; background:#d7d7d7; font-size:14px; vertical-align:top;}
.message_txt:hover,.message_txt:focus,.message_area:hover,.message_area:focus{ background:#c9c8c8;}
.message_tip2{ vertical-align:bottom;}
.message_btn{ text-align:center;}
.message_btn1{ width:111px; height:55px; font-size:16px; color:#fff; text-align:center; line-height:55px; background:url(../images/message_bg1.png) center bottom no-repeat; cursor:pointer; margin:0 65px;}
.message_btn1:hover{background:url(../images/message_bg1b.png) center bottom no-repeat; }
.message_bot{ font-size:18px; color:#727171; line-height:32px;}
.shengming{ color:#801d22;}
.shengming span{ font-size:24px;}

/*flow*/
.flow{ width:530px; margin:70px auto 30px; background:url(../images/flow_bg.png) 38px top repeat-y; position:relative;}
.flow_num{width:78px;}
.flow_btn{width:78px; height:38px; background:#d9dada; text-align:center; line-height:38px; font-size:20px; color:#000000; position:absolute;}
.kaishi{ top:0;}
.jieshu{ bottom:0; background:#8a1f24; color:#fff;}
.flow_list{ padding:60px 0 0;}
.flow_list dl{ overflow:hidden; padding-bottom:18px; background:url(../images/flow_bg3.png) 108px bottom no-repeat; margin-bottom:25px;}
.flow_list dl.last{ background:none;}
.flow_list dl dt{ width:78px; float:left;}
.flow_list dl dt span{ display:block; font-size:44px; color:#231815; width:59px; height:59px; text-align:center; line-height:59px; margin:0 auto; background:url(../images/flow_bg2.png) no-repeat;}
.flow_list dl dd{ width:370px; min-height:59px; padding:16px 26px; margin-left:30px; font-size:14px; line-height:22px; color:#9b8063; text-align:center; background:#d9dada; float:left;}
.flow_txt{font-size:12px; color:#666666; line-height:22px; text-align:left; padding:15px 0 0 ;}
.flow_txt li{ background:url(../images/flow_bg4.png) left 8px no-repeat; padding-left:15px;}
/*tuan*/
.tuan{ color:#808080; line-height:18px; padding:35px 0 0;}
.tuan_tit{ font-weight:normal; font-size:18px; color:#231815; line-height:26px;}
.tuan_img{ width:996px; margin:30px 0;}
.tuan_img img{ display:block; max-width:996px;}
.for_warp2{ background: url(../images/sub_bg2.gif) repeat-x;padding-top:40px;}
.for_warp2 .study_flow{ margin:0;}
/*board*/
.board{ padding:120px 0 0;}
.board_list{ padding-top:30px; margin-left:-71px;}
.board_area{ width:100%; float:left; margin:0 0 50px 61px;}
/*.board_area dt{height:320px; padding:16px 0; background:url(../images/board_bg1.png) no-repeat;}*/
.board_area dt{padding:16px 0;}
/*.board_area dt a img{ display:block; width:264px; height:320px; margin:0 auto;}*/
.board_area dt a img{ display:block; width:100%;  margin:0 auto;}
.board_area dd{width:264px; margin:0 auto; font-size:20px; color:#808080; padding:15px 0 0;}
.board_tit{ overflow:hidden; font-weight:normal; font-size:30px; padding-bottom:18px;}
.board_tit a{ color:#231815;}
.board_tit a.more_01{ color:#fff; margin-top:11px;}
.board_area:hover .board_tit a{color:#8a1f24;}
.board_area:hover .board_tit a.more_01{ color:#fff;}
/*branch*/
.branch{ width:994px; margin:50px auto 70px;}
.branch_tit{ border:1px solid #a2a1a1; border-left:none; width:100%;}
.branch_tit table tr td{ height:60px; line-height:60px; font-size:18px; color:#231815; text-align:center;}
.branch_tit table tr td.team{border-left:1px solid #a2a1a1; border-right:1px solid #a2a1a1;}

.branch_area{ width:100%; float:left; border-bottom:1px solid #a2a1a1;   border-right:1px solid #a2a1a1;}
    .branch_area table {
        border-left:1px solid #a2a1a1;
    }
.branch_area table tr td{ background:#eaeaea; text-align:center; vertical-align:top;}
.branch_area table tr td.branch_caption{ background:#ece3d5; vertical-align:middle; border-right:1px solid #a2a1a1;}
.branch_area table tr td.branch_caption span{ display:inline-block; font-size:30px; color:#9b8063; line-height:40px; width:30px;}
.branch_info tr td{ height:50px; line-height:50px; font-size:16px; color:#595757; background:#d9dada;}
.branch_info tr.branch_ge td{ height:10px; line-height:10px; font-size:0;}
.branch_info tr.branch_ge1 td{ height:28px;}
.branch_info tr.has_bg td{ background:#d9dada;}

/*offer*/
.offer{ position:relative; padding:74px 0 0;}
.load_list2{ position:absolute; right:0; top:0; margin-top:-24px;}
.load_list2 a{ font-size:13px; width:auto; padding-left:15px;}
.load_list2 a img{ width:40px; padding-right:10px;}
.offer_list{ background:#d9dada; font-size:18px; line-height:24px; color:#595757; padding:35px 0 35px 35px; margin-bottom:40px;}
.offer_list a{ color:#595757; display:block; float:left; width:630px; overflow:hidden;}
.offer_list a.offer_link{ display:block; width:102px; height:22px; float:right; font-size:12px; color:#808080; text-align:center; background:#f7efe8; line-height:22px;}
.offer_list li{ background:url(../images/list_ico1.png) left center no-repeat; height:24px; overflow:hidden; padding:0 0 0 30px; margin-bottom:25px; overflow:hidden;}
.offer_list li:hover a{color:#8a1f24;}
.offer_list li:hover a.offer_link{background:#eae3dd;}

/*notice*/
.notice{ position:relative;}
/*article_warp*/
.article_warp{ padding-bottom:0;}
.article{ padding:85px 0 0; line-height:28px; color:#808080;}
.article_tit{ font-size:18px;}
.article img{ display:block; max-width:970px;}
.article_tit2{ font-size:18px; color:#231815;}
.article_from{color:#808080; text-align:right; padding-top:90px; padding-bottom:110px;}
.handle{ padding-bottom:70px;}
.article_page { width:91%; float:left; text-align:center;}
.article_page a{ font-size:16px; color:#808080; margin:0 7px; width:44%; display:inline-block;}
.article_page a.prev_page{ background:url(../images/article_bg1.png) right center no-repeat; padding-right:35px; text-align:right;}
.article_page a.next_page{ background:url(../images/article_bg2.png) left center no-repeat; padding-left:35px; text-align:left;}
.article_page a:hover{color:#8a1f24;}
.handle_list{ float:right;}
.handle_list a img{ vertical-align:middle; margin:0 4px}

.pro_top{ width:100%; height:144px; background:#eaeaea url(../images/pro_bg4.gif) left bottom repeat-x;}
.pro_tit{ width:260px; font-weight:normal; font-size:36px; color:#8f806a; background:url(../images/pro_bg5.gif) left 90px no-repeat; padding:84px 0 0 22px; margin-left:-16px; float:left;}
.pro_warp2{ width:100%; min-height:400px; /*background:#f7efe8;*/}
.pro_area{ background:#fff;}
.pro_menu{ float:left;}
.pro_menu li{ float:left;}
.pro_menu li a{ display:block; width:244px; height:143px; text-align:center; line-height:144px; font-size:24px; color:#231815;}
.pro_menu li a:hover,.pro_menu li.pro_cur a{ background:#8a1f24; color:#fff;}
.pro_side{ width:224px; float:left; min-height:815px; height:1130px;  overflow-x: hidden; overflow-y: scroll;background:#eaeaea url(../images/pro_bg6.png) right top no-repeat; padding:20px 42px 0 0;}
.side_tit{ font-weight:normal; font-size:18px; color:#363f45; padding-bottom:20px; background:url(../images/side_bg1.png) left bottom no-repeat;}
.side_list{ line-height:22px; padding:12px 0 30px; width:100%; overflow:hidden;}
.side_list li{ padding-bottom:5px;}
.side_list li a{}
/*pro_r*/
.pro_r{ width:690px; float:right; padding:35px 25px 0;}
.pro_tit2{ font-weight:normal; font-size:36px; color:#8f806a;}
.pro_des{ padding:23px 0 0;}
.des_sheet{ width:698px; float:left;}
.des_sheet tr td{ height:28px; line-height:28px; background:#eaeaea; color:#595757; text-align:center;}
.des_sheet tr.des_tit td{ font-size:14px; color:#231815; background:none; height:36px; line-height:36px;}
.des_btn{ float:left; padding:14px 0 0 13px;}
.des_btn a{ display:inline-block; width:111px; height:56px; background:url(../images/des_bg1.png) no-repeat; text-align:center; line-height:56px; font-size:16px; color:#363f45; margin-left:12px;}
/*chart*/
.chart{ padding:70px 0 0;}
.chart_tit{ font-weight:normal; font-size:16px; color:#8a1f24;}
.chart_list{ padding-bottom:30px;}
.chart_sheet1{ width:288px; float:left;}
.chart_sheet1 tr td{ height:28px; line-height:28px; background:#eaeaea; color:#595757; padding-left:6px; border-bottom:1px solid #fafafa;}
.chart_sheet1 tr.chart_caption1 td,.chart_sheet2 tr.chart_caption1 td{ font-size:16px; color:#231815; background:none; height:36px; line-height:36px;}
.chart_sheet2{ width:330px; float:left; padding-left:25px;}
.chart_sheet2 tr td{ height:28px; line-height:28px; background:#eaeaea; color:#595757; text-align:center; border-bottom:1px solid #fafafa;}
.chart_sheet2 tr.chart_caption1 td,.chart_sheet2 tr td.chart_name{ text-align:left; padding-left:6px;}
.chart_more{ float:right; display:block; width:38px; height:14px; background:#8a1f24; font-size:0; text-align:center;margin:17px 0 0;}
.chart_more img{ padding:2px 0; }
.pro_bot{ /*background:#f7efe8;*/ padding:20px 0 45px;}
.bot_side{ width:266px; float:left;}
.side_img1{}
.side_img2{ margin-top:22px;}

/*chart_detail 10/16修begin*/
.chart_detail{}
.chart_mean{font-size:16px; padding:0 0 0 145px;}
.chart_mean span{ margin:0 20px;}
.chart_mean b{ display:inline-block; vertical-align:middle; width:26px; height:4px; font-size:0; margin-right:5px;}
.chart_mean span.red{ color:#8a1f24;}
.chart_mean span.red b{ background:#8a1f24;}
.chart_mean span.blue{ color:#172a83;}
.chart_mean span.blue b{ background:#172a83;}
.chart_tu{ height:617px; height:387px; overflow:hidden; float:left;}
.chart_tu img{ display:block; max-width:617px;}
.percent{ width:48px; float:left; padding:26px 0 0;}
.percent span{ display:block; width:48px; height:22px; text-align:center; line-height:22px; color:#fff; font-size:11px; margin-bottom:10px;}
.percent span.red{ background:#8a1f24;}
.percent span.blue{ background:#172a83;}
/*chart_detail 10/16修end*/

.summary{ width:740px; float:left; padding:70px 0 0;}
.summary_tit{ font-weight:normal; font-size:16px; color:#231815; padding-bottom:20px; padding-left:48px;}
.summary_box{ background:#e3dbd5; color:#595757; line-height:20px; padding:15px 35px 15px 48px;}
.summary_from{ text-align:right;}
.summary_more{float:right; display:block; width:94px; height:14px; background:#8a1f24; font-size:0; text-align:center; margin:12px 30px 0 0;}
.summary_more img{ padding:2px 0; }

/*factor*/
.factor{ padding:20px 0 40px;}
.factor li{ overflow:hidden; padding:10px 0 ;}
.factor li.bg_dif{ background:#eaeaea;}
.factor li em,.factor li span{ display:block; float:left;}
.factor li em{ font-size:18px; color:#231815; width:170px; padding:0 20px;}
.factor li span{ font-size:14px; color:#808080; line-height:20px; width:460px;}
/*net*/
.net{ padding:50px 0 0;}
.net_top{ font-size:15px; color:#231815;}
.net_btn1{ width:101px; height:32px; line-height:32px; text-align:center; background:#8a1f24; color:#fff; font-size:15px; margin-left:30px; cursor:pointer;}
.net_box{ margin:50px 0;}
.net_box .hd{height:76px; background:#edeeee url(../images/net_bg1.gif) left bottom repeat-x; border-left:1px solid #e4e4e4; border-right:1px solid #e4e4e4;}
.net_box .hd ul{ height:76px;}
.net_box .hd ul li{ float:left; width:50%; height:74px; line-height:74px; border-top:2px solid #edeeee; text-align:center; font-size:16px; color:#231815; cursor:pointer;}
.net_box .hd ul li a{ color:#231815; display:block; background:url(../images/net_bg2.png) left top no-repeat;}
.net_box .hd ul li.on{background:#fff; border-top:2px solid #8d393d; color:#8a1f24;}
.net_box .hd ul li a:hover,.net_box .hd ul li.on a{ color:#8a1f24; background:none;}
.net_box .bd{ min-height:200px; border-right:1px solid #e4e4e4; border-left:1px solid #e4e4e4;  }
.net_area1{ padding-top:30px;}
.pro_con2{background:#edeeee; margin:0;}
.pro_sheet2{ width:527px; border-left:none;}
.pro_sheet2 tr.sheet_tit td,.pro_sheet2 tr td{ font-size:12px;}
.pro_sheet2 tr.sheet_tit td{ background:#edeeee; height:38px; line-height:38px;}
.pro_sheet2 tr td{ background:#fff; height:30px; line-height:30px;}
.pro_sheet2 tr:hover td,.pro_sheet2 tr.tr_cur td{background:#edeeee;}
.pro_box2{ width:160px;}
.pro_box2 .pro_name2,.pro_box2 .kai_day{ font-size:12px;}
.pro_box2 .td_detail{ width:132px;}
.pro_box2 .zeng_lv em,.pro_box2 .jing_zhi em{ font-size:25px;}
.net_pic{border:1px solid #e4e4e4; border-left:none; border-right:none; border-top:none; padding:30px 0;}
.net_pic img{ display:block; max-width:689px; overflow:hidden; margin:0 auto;}

/*10/28 加begin*/
/*member_warp*/
.member_warp{ background:#eaeaea; position:relative;}
.member_shadow{ width:100%; height:7px; font-size:0; background:url(../images/member_17.png) repeat-x; position:absolute; top:0;}
.member{ width:1040px; margin:0 auto; background:url(../images/member_05.jpg) 1015px top no-repeat;}
.member_l{ width:223px; padding-right:57px; min-height:1315px; background:#eaeaea url(../images/member_01.png) no-repeat right top; float:left;}
.member_l .common_tit1,.member_l .common_tit1 em{ background:none;}
.member_l .common_tit1{}
.member_nav{ width:223px; padding:25px 0;}
.member_nav li{background:url(../images/member_02.png) right bottom no-repeat;}
.member_nav li a{ display:block; padding:0 0 0 24px; height:50px; line-height:50px; font-size:18px; color:#363f45;}
.member_nav li:hover a,.member_nav li.member_cur a{ color:#fff; background:#8a1f24;}
.member_nav li .member_er{ padding-bottom:15px;}
.member_nav li .member_er a{padding:0 0 0 24px;background:none; height:26px; line-height:26px;font-size:12px; color:#666666;}
.member_nav li:hover .member_er a,.member_nav li.member_cur .member_er a{ background:none;}
.member_nav li .member_er a:hover,.member_nav li .member_er a.er_cur{ color:#8a1f24;}
.all_search{ text-align:right; margin-bottom:195px;}
.member_l .side_img1,.member_l .side_img2{ text-align:right;}
.member_r{ width:735px; background:#fff; padding:40px 0 0 0; float:left;}
.shouyi{ padding:0 0 0 40px;}
.shou_l{ width:450px; float:left;}
.shou_tit{ font-weight:normal; font-weight:normal; color:#8f806a; font-size:24px;}
.change_psw{ display:inline-block; vertical-align:middle; font-size:12px; width:88px; height:29px; background:#eaeaea; text-align:center; line-height:29px; margin-left:32px;}
.change_psw:hover{ color:#8a1f24; background:#e3e1e1;}
.shou_box{}
.shou_tit{ padding-bottom:30px;}
.shou_sort{ overflow:hidden; color:#808080; line-height:28px; padding-top:10px;}
.shou_sort span{ display:inline-block; width:70px; padding-right:50px; font-size:14px; color:#231815;}
.shou_pro{ display:inline-block; width:272px; vertical-align:top;}
.shou_pro a{ margin-right:25px;}
.shou_all{ width:154px; float:left;}
.all_tit,.all_num{ display:block; font-size:12px; }
.all_tit{ height:31px; line-height:31px; color:#231815; background:#eaeaea;}
.all_num{ height:74px; line-height:74px; background:#8a1f24; color:#fff; margin-top:5px;}
/*hold*/
.hold{ margin:25px 0 0; background:#e9eaea; padding:20px 0 0 40px;}
.hold_top{}
.hold_tit{ font-weight:normal; font-size:24px; color:#8f806a; float:left;}
.hold_top .cooper_menu span,.hold_top .cooper_menu em{ height:28px; line-height:28px; width:9px;}
.hold_top .cooper_menu span{ width:118px; font-size:12px;}
.hold_top .cooper_menu em{ background:#ece3d5 url(../images/member_06.jpg) center center no-repeat;}
.hold_top .cooper_box{ margin:0 0 0 130px;}
.hold_top .cooper_area{ margin-left:35px;}
.hold_all{ padding:0 0 0 189px;}
.hold_all .all_tit{ background:#d5d7d7;}
.hold_all .all_num{ font-size:12px; text-align:left; line-height:30px; padding:7px 0; height:60px;}
.all_tit em {padding:0 0 0 8px;}
.hold_all .all_num em{ display:inline-block; color:#c4c5c6; padding:0 0 0 8px; vertical-align:middle;}
.hold_all .all_num b{ display:inline-block; font-weight:normal;vertical-align:middle;}
.fen_e b{ font-size:14px;}
.hold_nav{ margin:10px 0 0; overflow:hidden;}
.hold_nav li{ width:138px; text-align:center; float:left; margin-left:52px;}
.hold_nav li span,.hold_nav li em{ display:block;}
.hold_nav li span{ font-size:14px; color:#8f806a; width:118px; margin:0 auto; border-bottom:2px solid #bab5aa;}
.hold_nav li em{ margin-top:5px; height:60px; line-height:60px; font-size:34px; color:#8a1f24; background:#fff;}
/*hold_area*/
/*.hold_area{ padding:65px 0 0;}*/
.hold_area .net_top{ padding:0 0 0 92px; font-size:13px;}
.hold_area .net_top .mh_date{ width:121px; height:17px; line-height:17px; background:#e9eaea;}
.hold_area .net_top .net_btn1{ width:83px; height:27px; line-height:27px; font-size:13px; margin-left:20px;}
.hold_area .chart_detail{ padding:35px 0 0 35px;}
.hold_area .chart_detail .chart_mean{ width:100%; float:left; margin-top:45px; padding:0; text-align:center;}
.hold_more{ display:block; width:101px; height:35px; background:#8a1f24; text-align:center; line-height:35px; font-size:16px; color:#fff; float:right; margin-right:93px;}
.hold_more:hover{background:#bc000a; color:#fff;}
/*trade*/
.trade{ width:662px; margin:0 auto;}
.trade_tit{ font-weight:normal; font-size:24px; color:#8f806a;}
.trade_table{ border:1px solid #c1c1c1; border-top:2px solid #c1c1c1; margin-top:30px;}
.trade_table tr td{ color:#808080; text-align:center; line-height:22px; padding:9px 0; border-bottom:1px solid #dfe0e0; border-left:1px solid #c1c1c1; border-right:1px solid #c1c1c1;}
.trade_table tr.trade_caption td{ font-size:14px; color:#231815; background:#ece3d5;}
.member_bot{ background:#eaeaea; padding:70px 0 0;}
.member_bot .service{ width:1006px; margin:0 auto;}
.guide{ width:656px; padding:0 0 0 40px;}
.work_tit{ font-weight:normal; font-size:24px; color:#8f806a;}
.guide_des{ line-height:28px; color:#808080; margin-top:30px;}
.apply{ padding:40px 0 0 40px;}
.process{ width:650px; padding:50px 0 0 40px; color:#808080; line-height:28px;}
.process_des{ padding:10px 0 0;}
.process_des p{ padding-top:13px;}
.fujian{ background:#e9eaea; padding:15px 0 0 85px; margin-top:30px; font-size:16px; color:#8f806a;}
.fujian span{ display:inline-block; width:296px;}
.jian_load{ display:inline-block; vertical-align:middle; color:#fff; width:101px; height:35px; line-height:35px; background:#8a1f24; text-align:center; margin-right:57px;}
.jian_load:hover,.count_btn:hover{background:#711a1e; color:#fff;}
.jian_area{ padding-bottom:15px;}
.count{ padding:30px 0 0 40px;}
.count_area{ color:#231815; font-size:14px; padding:35px 0 0; }
.count_txt{ width:109px; height:15px; padding:5px 0 5px 12px; background:#ece3d5;}
.count_area label{ padding-right:20px;}
.count_btn{ display:inline-block; vertical-align:middle; color:#fff; width:101px; height:35px; line-height:35px; background:#8a1f24; text-align:center; margin:0 45px 0 57px;}
.count_line{ margin-bottom:25px;}
.member_tip{ width:658px; margin:0 0 0 40px; padding-top:20px; color:#8a1f24; line-height:28px;}
.other_area{ padding-bottom:30px;}
.other_area .fujian{ padding:10px 0 0 85px; margin-top:10px;}
.other_area .jian_area{ padding-bottom:10px;}

/*report*/
.report{}
.report .work_tit{ padding-left:40px;}
.report_list{ background:#e9eaea; width:670px; margin:50px auto 30px; padding:30px 10px 15px 20px;}
.report_list h3{ font-weight:normal; height:22px; line-height:22px; cursor:pointer; font-size:18px; color:#595757; background:url(../images/member_07.png) left 13px no-repeat; padding:5px 0 5px 30px; margin-bottom:17px;}
.report_date{ float:right; display:block; width:103px; height:22px; line-height:22px; background:#f3ebe4; text-align:center; font-size:10px; color:#8f806a;}
.report_list h3.on .report_date {}
.report_des{ width:492px; padding:20px; margin:25px 0 25px 30px; background:#ffffff; color:#808080; line-height:28px; display:none;}
.report_top{ background:#eaeaea; width:720px; padding:0 20px 0 20px; height:150px;}
.report_xq{ background:url(../images/member_12.jpg) 1015px 150px no-repeat;}
.report_xq .member_l{/* min-height:1155px;*/ background:#eaeaea url(../images/member_11.png) right 150px no-repeat;}
.report_xq .member_r{ padding:0;}
.report_tit{ font-weight:normal; font-size:24px; color:#8f806a; line-height:36px; width:555px; padding-right:30px; float:left; padding-top:35px;}
.report_time{ display:block; float:left; width:110px; margin-top:10px;}
.report_time em,.report_time b{ display:block; font-weight:normal; font-size:16px; color:#fff; text-align:center; height:29px; line-height:29px; background:#c4c5c5;}
.report_time b{ font-size:36px; color:#8a1f24; background:#d7d7d7; height:67px; line-height:67px;}
.xq_text{ width:694px; margin:0 auto; padding:35px 0 0; line-height:28px; color:#808080;}
.xq_tit{ font-weight:normal; font-size:24px; color:#8a1f24; padding-bottom:35px; letter-spacing:-0.04em;}
.xq_tit2{ font-weight:normal; font-size:18px; color:#8f806a; padding-bottom:20px;}
.xq_text img{ display:block; max-width:694px; margin:0 auto;}
.xq_bot{ width:1060px; margin:0 auto; padding:30px 0 0;}
.xq_page{ width:565px; float:left; padding:0 0 0 430px;}
.xq_point{ float:left;}
.xq_point a{ font-size:16px; color:#808080;}
.xq_point a.prev_point{ background:url(../images/article_bg1.png) right center no-repeat; padding-right:40px; text-align:right; margin-right:10px;}
.xq_point a.next_point{ background:url(../images/article_bg2.png) left center no-repeat; padding-left:40px; text-align:left;}
.xq_point a:hover{color:#8a1f24;}
.xq_page .page{ float:right;}
.law_notice{ background:#eaeaea; padding:20px; margin:140px 0 30px; line-height:28px; color:#808080;}
.law_tit{ font-weight:normal; font-size:12px; color:#3e3a39;}

/*booking*/
.booking{}
.booking,.booking .member_l,.booking .member_r{ background:none;}
.booking .member_r{ padding:0;}
.booking_text{ width:694px; margin:0 auto; line-height:28px; color:#808080;}
.booking_tip{ font-size:18px;}
.booking_form{ width:660px; margin:30px auto 0; overflow:hidden; background:#fff url(../images/member_13.jpg) no-repeat; font-size:18px; color:#231815; padding:90px 0 35px 30px;}
.booking_line{ padding-bottom:20px;}
.booking_line label{ display:inline-block; letter-spacing:0.02em; padding-right:15px;}
.booking_txt,.booking_yu{ width:330px; height:16px; padding:10px 0 10px 12px; background:url(../images/member_14.png) repeat; color:#fff; font-family:"微软雅黑",Microsoft YaHei; }
.booking_yu{ width:478px; height:160px;}
.booking_txt:hover,.booking_txt:focus,.booking_yu:hover,.booking_yu:focus{background:url(../images/member_14b.png) repeat;}
.booking_btn{ width:101px; height:35px; line-height:35px; font-size:18px; color:#fff; text-align:center; background:#8a1f24; float:right; margin-right:92px; margin-top:5px; cursor:pointer;}
.booking_btn:hover{ background:#64161a;}
.booking_btn2{ display:block; width:188px; height:60px; line-height:60px; text-align:center; font-size:26px; color:#8a1f24; background:#ece3d5; margin:0 auto;}
.booking_btn2:hover{ background:#ebdac1;}

/*contact*/
.contact{ line-height:28px; color:#808080;}
.contact_des{ width:660px; margin:0 auto;}
.contact_form{ width:700px; margin:0 auto; padding:40px 0 0;}
.contact_line{ padding-bottom:40px;}
.contact_line em{display:inline-block; width:107px; padding-right:20px; padding-left:18px; vertical-align:middle; font-size:24px; color:#8f806a;}
.send_email a{ display:inline-block; width:51px; height:34px; font-size:0; background:url(../images/member_15.png) no-repeat; vertical-align:middle;}
.send_email a:hover{ background:url(../images/member_15b.png) no-repeat;}
.kefu_tel{ font-size:18px; vertical-align:middle; display:inline-block;}
.live{ border:1px solid #898786; border-bottom:none; background:url(../images/member_16.gif) repeat-y; margin:40px 0 0;}
.live_line{ padding:15px 0; border-bottom:1px solid #898786; }
.live_line label{ display:inline-block; width:93px; text-align:center; font-size:18px; color:#231815; line-height:55px;}
.live_txt,.live_yu{ width:545px; height:15px; padding:20px 0 20px 10px; background:#e9eaea; margin-left:30px;}
.live_yu{ height:145px;}
.live_txt:hover,.live_txt:focus,.live_yu:hover,.live_yu:focus{ background:#d8dbdb;}
.live_btn{ width:101px; height:35px; line-height:35px; font-size:18px; color:#fff; text-align:center; background:#8a1f24; float:right; cursor:pointer; margin:25px 20px 0 0;}
.live_btn:hover{ background:#64161a;}

.customer{}
.customer .position_warp{ background:#ece3d5;}

/*10/28 加end*/


/*图片样式*/
.famous_pic a img{transition: all .3s ease;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease;}
.famous_pic a:hover img{-webkit-transform:scale(1.05) rotate(3deg); -moz-transform:scale(1.05) rotate(3deg); -ms-transform:scale(1.05) rotate(3deg); -o-transform:scale(1.05) rotate(3deg); transform:scale(1.05) rotate(3deg);/* transform:scale(1.02,1.02); -moz-transform:scale(1.02,1.02); -ms-transform:scale(1.02,1.02); -webkit-transform:scale(1.02,1.02); -o-transform:scale(1.02,1.02);*/ }

/*文字划过颜色变化*/
.dis{ display:none;}
.login_link a:hover,.pro_name2 a:hover,.pro_sheet tr td.pro_name a:hover,.info_rec:hover h3 a,.info_list li a:hover,.service a:hover,.trends_list li:hover a,.load_list a:hover,.des_btn a:hover{ color:#8a1f24;}

.service_link a img:hover{filter:alpha(opacity=97); -moz-opacity:0.97; -khtml-opacity: 0.97; opacity: 0.97;}


/*==========以下部分是Validform必须的===========*/
.Validform_checktip{
	margin-left:8px;
	line-height:20px;
	height:20px;
	overflow:hidden;
	color:#999;
	font-size:12px;
}
.Validform_right{
	color:#71b83d;
	padding-left:20px;
	background:url(images/right.png) no-repeat left center;
}
.Validform_wrong{
	color:red;
	padding-left:20px;
	white-space:nowrap;
	background:url(images/error.png) no-repeat left center;
}
.Validform_loading{
	padding-left:20px;
	background:url(images/onLoad.gif) no-repeat left center;
}
.Validform_error{
	background-color:#ffe7e7;
}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999'); box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#999;
background: -moz-linear-gradient(top, #999, #666 100%); background: -webkit-gradient(linear, 0 0, 0 100%, from(#999), to(#666)); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#666666');}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#ccc;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #bbb; border-top:none; text-align:left;}

.Container {
	width:952px;
	margin:0 auto;
	padding-left: 24px;
	padding-right: 24px;
	text-align:left;
}

.honor_table{ width:100%; background:#fff;}
.honor_table tr td{ padding:5px 10px;}
.message_top{}
.message_top .common_tit1{ float:left; width:850px;}
.message_top .date{ float:right; background:#d7d7d7; margin-top:42px;}
.message_top .date em{ background:#c8c9c9;}