<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>{$cates.title}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="alternate icon" type="image/png" href="__ROOT__/Public/Ui/assets/i/favicon.png">
  <link rel="stylesheet" href="__ROOT__/Public/Ui/assets/css/amazeui.min.css"/>
  <style>
   
    .footer p {
      color: #7f8c8d;
      margin: 0;
      padding: 15px 0;
      text-align: center;
      background: #2d3e50;
    }
  </style>
    <style>
    @media only screen and (min-width: 1200px) {
      .blog-g-fixed {
        max-width: 1200px;
      }
    }

    @media only screen and (min-width: 641px) {
      .blog-sidebar {
        font-size: 1.4rem;
      }
    }

    .blog-main {
      padding: 20px 0;
    }

    .blog-title {
      margin: 10px 0 20px 0;
    }

    .blog-meta {
      font-size: 14px;
      margin: 10px 0 20px 0;
      color: #222;
    }

    .blog-meta a {
      color: #27ae60;
    }

    .blog-pagination a {
      font-size: 1.4rem;
    }

    .blog-team li {
      padding: 4px;
    }

    .blog-team img {
      margin-bottom: 0;
    }

    .blog-content img,
    .blog-team img {
      max-width: 100%;
      height: auto;
    }

    .blog-footer {
      padding: 10px 0;
      text-align: center;
    }
  </style>
</head>
<body>
		<header class="am-topbar am-topbar-fixed-top">
		<div class="am-container">
			<h1 class="am-topbar-brand">
				<a href="__ROOT__/u/{$username}">{$webinfo.title}</a>
			</h1>

			<button
				class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
				data-am-collapse="{target: '#collapse-head'}">
				<span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span>
			</button>

			<div class="am-collapse am-topbar-collapse" id="collapse-head">
			<!--  -->
				      <ul class="am-nav am-nav-pills am-topbar-nav">
        <li class="am-active"><a href="__ROOT__/u/{$username}">首页</a></li>
        <li class="am-dropdown" data-am-dropdown>
          <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
           组织介绍<span class="am-icon-caret-down"></span>
          </a>
          <ul class="am-dropdown-content">
         	<!-- <li class="am-dropdown-header">标题</li> -->
            <volist name='about' id='vo'>
            <li><a href="__ROOT__/u/{$username}/about/{$vo.id}">{$vo.title}</a></li>
            </volist>
          </ul>
        </li>
        <li><a href='__ROOT__/u/{$username}/product'>产品介绍</a></li>
        <volist name='nav' id='vo'>
        <if condition='$vo.son eq []'>
            <li><a href="__ROOT__/u/{$username}/page/{$vo.id}">{$vo.title}</a></li>
        <else />
                <li class="am-dropdown" data-am-dropdown>
          <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
           {$vo.title}<span class="am-icon-caret-down"></span>
          </a>
          <ul class="am-dropdown-content">
         	<!-- <li class="am-dropdown-header">标题</li> -->
         	<li  class="am-dropdown-header"><a href="__ROOT__/u/{$username}/page/{$vo.id}">{$vo.title}</a></li>
            <volist name='vo.son' id='vo1'>
            <li><a href="__ROOT__/u/{$username}/page/{$vo1.id}">{$vo1.title}</a></li>
            </volist>
          </ul>
        	</li>
        </if>
       </volist>
      </ul>
      <!--  -->
		<div class="am-topbar-right">
       <p class='am-icon-phone' style='color:black;font-size:1.0em;'><strong>{$webinfo.phone}</strong></p>
       </div>
			</div>
			
		</div>
	</header>
<!-- 正文 -->
<div class="am-g am-g-fixed blog-g-fixed" >
<div class="am-u-md-8">
<div style='min-height:200px'>
<ol class="am-breadcrumb am-text-lg" style='margin-bottom: 0'>
  <li><a href="__ROOT__/u/{$username}" class="am-icon-home">首页</a></li>
  <notempty name='mc'>
  <li><a href="__ROOT__/u/{$username}/page/{$mc.id}">{$mc.title}</a></li>
  </notempty>
  <li class="am-active">{$cates.title}</li>
</ol>
<volist name='papers' id='vo'>
    <article class="blog-main">
      <h3 class="am-article-title" style='color:#0f9ae0'>
        <a href="__ROOT__/u/{$username}/article/{$vo.id}">{$vo.title}</a>
      </h3>
      <h4 class="am-article-meta blog-meta">by <strong class=' am-badge am-radius '>{$vo.author}</strong> posted on <strong class=' am-badge am-radius '>{$vo.createtime}</strong> views <strong class=' am-badge am-radius '>{$vo.view}</strong>
      </h4>

      <div class="am-g blog-content">
        <div class="am-u-lg-12">
          <div  style='height:200px;width:200px;padding:10px; text-align:center;float:left'>
             <a href="__ROOT__/u/{$username}/article/{$vo.id}"> <img style="height:100%;width:100%" class=" am-circle am-img-thumbnail" src="__ROOT__/Uploads/{$vo.photo}"  alt="{$vo.title}"/></a>
           </div>
         {$vo.desccontent}
         </div>
      </div>
    </article>
     <hr class="am-article-divider blog-hr">
</volist>
</div>
    <div>
    <ul class="am-pagination blog-pagination am-pagination-centered am-pagination-default">
    <if condition="$pageno gt 1">
    <li class="am-pagination-prev"><a href="__ROOT__/u/{$username}/page/{$id}/pageno/{$pageno-1}">&laquo; 上一页</a></li>
    <else /> 
    </if>
    
    <!-- 第一页 -->
    	<if condition="$pageno eq 1">
    	<else />
       <li><a href="__ROOT__/u/{$username}/page/{$id}/pageno/1">1</a></li>
         <li>...</li>
       </if>
    <!--  -->
    
    <if condition="$pageno gt 2 and $pageno-1 neq 1">
    <li><a href="__ROOT__/u/{$username}/page/{$id}/pageno/{$pageno-1}">{$pageno-1}</a></li>
	<else />
	 </if>
	 

	 <li>{$pageno}</li>

	 <if condition="$pageno lt $page-1 and $pageno+1 neq $page"> 
	  <li><a href="__ROOT__/u/{$username}/page/{$id}/pageno/{$pageno+1}">{$pageno+1}</a></li>
	 </if>
    
    <!-- 最后一页 -->
    <if condition="$pageno eq $page">
    	<else />
    	<li>...</li>
       <li><a href="__ROOT__/u/{$username}/page/{$id}/pageno/{$page}">{$page}</a></li>
    </if>
    <!--  -->
    
    <if condition="$pageno lt $page">
	     <li class="am-pagination-next"><a href="__ROOT__/u/{$username}/page/{$id}/pageno/{$pageno+1}">&raquo; 下一页</a></li>
	<else />
	</if>
    </ul>
    </div>
</div>
<br />
 <div class="am-u-md-4 blog-sidebar">
     <div class="am-panel-group">
      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">{$cates.title}</div>
        <div class="am-panel-bd">
          <div><strong class=' am-badge am-radius '>创建于{$cates.createtime}</strong><br/>{$cates.content}</div>
        </div>
      </section>
      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">兄弟菜单</div>
        <ul class="am-list blog-list">
        <volist name='sd' id='vo'>
				<li>
                	<a href="__ROOT__/u/{$username}/page/{$vo.id}">{$vo.title}</a>
                    
                </li>
       </volist>
        </ul>
      </section>
      </div>
 
 </div>
</div>
<!--  -->
	<footer class="footer">
		<p>
			COPYRIGHT © 2015 – 2016 ALL RIGHTS RESERVED <br />{$webinfo.webinfo}
			<br/>公司地址：{$webinfo.address}<br/>联系方式：{$webinfo.phone}
		</p>
	</footer>
    <div data-am-widget="gotop" class="am-gotop am-gotop-fixed" >
    <a href="#top" title="">
        <img class="am-gotop-icon-custom" src="http://amazeui.b0.upaiyun.com/assets/i/cpts/gotop/goTop.gif" />
    </a>
  </div>
<!-- JiaThis Button BEGIN -->
<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jiathis_r.js" charset="utf-8"></script>
<!-- JiaThis Button END -->
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__ROOT__/Public/Ui/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__ROOT__/Public/Ui/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="__ROOT__/Public/Ui/assets/js/amazeui.min.js"></script>
</body>
</html>
