<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>{$cates.title}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="alternate icon" type="image/png" href="__ROOT__/Public/Ui/assets/i/favicon.png">
  <link rel="stylesheet" href="__ROOT__/Public/Ui/assets/css/amazeui.min.css"/>
  <style>
   
    .footer p {
      color: #7f8c8d;
      margin: 0;
      padding: 15px 0;
      text-align: center;
      background: #2d3e50;
    }
  </style>
    <style>
    @media only screen and (min-width: 1200px) {
      .blog-g-fixed {
        max-width: 1200px;
      }
    }

    @media only screen and (min-width: 641px) {
      .blog-sidebar {
        font-size: 1.4rem;
      }
    }

    .blog-main {
      padding: 20px 0;
    }

    .blog-title {
      margin: 10px 0 20px 0;
    }

    .blog-meta {
      font-size: 14px;
      margin: 10px 0 20px 0;
      color: #222;
    }

    .blog-meta a {
      color: #27ae60;
    }

    .blog-pagination a {
      font-size: 1.4rem;
    }

    .blog-team li {
      padding: 4px;
    }

    .blog-team img {
      margin-bottom: 0;
    }

    .blog-content img,
    .blog-team img {
      max-width: 100%;
      height: auto;
    }

    .blog-footer {
      padding: 10px 0;
      text-align: center;
    }
  </style>
</head>
<body>
	<header class="am-topbar am-topbar-fixed-top">
		<div class="am-container">
			<h1 class="am-topbar-brand">
				<a href="__ROOT__/Ei/User/Index?username={$username}">{$webinfo.title}</a>
			</h1>

			<button
				class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
				data-am-collapse="{target: '#collapse-head'}">
				<span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span>
			</button>

			<div class="am-collapse am-topbar-collapse" id="collapse-head">
			<!--  -->
				      <ul class="am-nav am-nav-pills am-topbar-nav">
        <li class="am-active"><a href="__ROOT__/Ei/User/Index?username={$username}">首页</a></li>
        <li class="am-dropdown" data-am-dropdown>
          <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
           公司介绍<span class="am-icon-caret-down"></span>
          </a>
          <ul class="am-dropdown-content">
         	<!-- <li class="am-dropdown-header">标题</li> -->
            <volist name='about' id='vo'>
            <li><a href="__ROOT__/Ei/User/about?username={$username}&id={$vo.id}">{$vo.title}</a></li>
            </volist>
          </ul>
        </li>
        <li><a href='__ROOT__/Ei/User/product?username={$username}'>产品介绍</a></li>
        <volist name='nav' id='vo'>
        <if condition='$vo.son eq []'>
            <li><a href="__ROOT__/Ei/User/page?username={$username}&id={$vo.id}">{$vo.title}</a></li>
        <else />
                <li class="am-dropdown" data-am-dropdown>
          <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
           {$vo.title}<span class="am-icon-caret-down"></span>
          </a>
          <ul class="am-dropdown-content">
         	<!-- <li class="am-dropdown-header">标题</li> -->
         	<li  class="am-dropdown-header"><a href="__ROOT__/Ei/User/page?username={$username}&id={$vo.id}">{$vo.title}</a></li>
            <volist name='vo.son' id='vo1'>
            <li><a href="__ROOT__/Ei/User/page?username={$username}&id={$vo1.id}">{$vo1.title}</a></li>
            </volist>
          </ul>
        	</li>
        </if>
       </volist>
      </ul>
      <!--  -->
		<div class="am-topbar-right">
       <p class='am-icon-phone' style='color:black;font-size:1.0em;'><strong>{$webinfo.phone}</strong></p>
       </div>
			</div>
			
		</div>
	</header>
<!-- 正文 -->
<div class="am-g am-g-fixed blog-g-fixed" style='margin-top: 20px'>
	<nav data-am-widget="menu" class="am-menu  am-menu-stack"> 
    <a href="javascript: void(0)" class="am-menu-toggle">
          <i class="am-menu-toggle-icon am-icon-bars"></i>
    </a>
      <ul class="am-menu-nav" style='text-align:center'>
          <li class="am-parent">
            <a href="##" >公司</a>
              <ul class="am-menu-sub am-collapse  am-avg-sm-2 ">
                  <li class="">
                    <a href="##" class="" >公司</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >人物</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >趋势</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >投融资</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >创业公司</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >创业人物</a>
                  </li>
                  <li class="am-menu-nav-channel"><a href="##" class="" title="公司">进入栏目 &raquo;</a></li>
              </ul>
          </li>
          <li class="am-parent">
            <a href="##" class="" >人物</a>
              <ul class="am-menu-sub am-collapse  am-avg-sm-3 ">
                  <li class="">
                    <a href="##" class="" >公司</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >人物</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >趋势</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >投融资</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >创业公司</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >创业人物</a>
                  </li>
              </ul>
          </li>
          <li class="am-parent">
            <a href="#c3" class="" >趋势</a>
              <ul class="am-menu-sub am-collapse  am-avg-sm-4 ">
                  <li class="">
                    <a href="##" class="" >公司</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >人物</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >趋势</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >投融资</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >创业公司</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >创业人物</a>
                  </li>
                  <li class="am-menu-nav-channel"><a href="#c3" class="" title="趋势">泥煤 &raquo;</a></li>
              </ul>
          </li>
          <li class="am-parent">
            <a href="##" class="" >投融资</a>
              <ul class="am-menu-sub am-collapse  am-avg-sm-3 ">
                  <li class="">
                    <a href="##" class="" >公司</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >人物</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >趋势</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >投融资</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >创业公司</a>
                  </li>
                  <li class="">
                    <a href="##" class="" >创业人物</a>
                  </li>
              </ul>
          </li>
          <li class="">
            <a href="##" class="" >创业公司</a>
          </li>
          <li class="">
            <a href="##" class="" >创业人物</a>
          </li>
      </ul>

  </nav>
  <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2
  am-avg-md-3 am-avg-lg-4 am-gallery-imgbordered" data-am-gallery="{  }" >
      <li>
        <div class="am-gallery-item">
            <a href="http://s.amazeui.org/media/i/demos/bing-1.jpg" class="">
              <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg"  alt="远方 有一个地方 那里种有我们的梦想"/>
                <h3 class="am-gallery-title">远方 有一个地方 那里种有我们的梦想</h3>
                <div class="am-gallery-desc">2375-09-26</div>
            </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
            <a href="http://s.amazeui.org/media/i/demos/bing-2.jpg" class="">
              <img src="http://s.amazeui.org/media/i/demos/bing-2.jpg"  alt="某天 也许会相遇 相遇在这个好地方"/>
                <h3 class="am-gallery-title">某天 也许会相遇 相遇在这个好地方</h3>
                <div class="am-gallery-desc">2375-09-26</div>
            </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
            <a href="http://s.amazeui.org/media/i/demos/bing-3.jpg" class="">
              <img src="http://s.amazeui.org/media/i/demos/bing-3.jpg"  alt="不要太担心 只因为我相信"/>
                <h3 class="am-gallery-title">不要太担心 只因为我相信</h3>
                <div class="am-gallery-desc">2375-09-26</div>
            </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
            <a href="http://s.amazeui.org/media/i/demos/bing-4.jpg" class="">
              <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg"  alt="终会走过这条遥远的道路"/>
                <h3 class="am-gallery-title">终会走过这条遥远的道路</h3>
                <div class="am-gallery-desc">2375-09-26</div>
            </a>
        </div>
      </li>
  </ul>
  <ul class="am-pagination blog-pagination am-pagination-centered am-pagination-default">
    <if condition="$pageno gt 1">
    <li class="am-pagination-prev"><a href="__ROOT__/Ei/User/page?username={$username}&id={$id}&pageno={$pageno-1}">&laquo; 上一页</a></li>
    <else /> 
    </if>
    
    <!-- 第一页 -->
    	<if condition="$pageno eq 1">
    	<else />
       <li><a href="__ROOT__/Ei/User/page?username={$username}&id={$id}&pageno=1">1</a></li>
         <li>...</li>
       </if>
    <!--  -->
    
    <if condition="$pageno gt 2 and $pageno-1 neq 1">
    <li><a href="__ROOT__/Ei/User/page?username={$username}&id={$id}&pageno={$pageno-1}">{$pageno-1}</a></li>
	<else />
	 </if>
	 

	 <li>{$pageno}</li>

	 <if condition="$pageno lt $page-1 and $pageno+1 neq $page"> 
	  <li><a href="__ROOT__/Ei/User/page?username={$username}&id={$id}&pageno={$pageno+1}">{$pageno+1}</a></li>
	 </if>
    
    <!-- 最后一页 -->
    <if condition="$pageno eq $page">
    	<else />
    	<li>...</li>
       <li><a href="__ROOT__/Ei/User/page?username={$username}&id={$id}&pageno={$page}">{$page}</a></li>
    </if>
    <!--  -->
    
    <if condition="$pageno lt $page">
	     <li class="am-pagination-next"><a href="__ROOT__/Ei/User/page?username={$username}&id={$id}&pageno={$pageno+1}">&raquo; 下一页</a></li>
	<else />
	</if>
    </ul>
</div>
<!--  -->
	<footer class="footer">
		<p>
			COPYRIGHT © 2015 – 2016 ALL RIGHTS RESERVED <br />{$webinfo.webinfo}
			<br/>公司地址：{$webinfo.address}<br/>联系方式：{$webinfo.phone}
		</p>
	</footer>
    <div data-am-widget="gotop" class="am-gotop am-gotop-fixed" >
    <a href="#top" title="">
        <img class="am-gotop-icon-custom" src="http://amazeui.b0.upaiyun.com/assets/i/cpts/gotop/goTop.gif" />
    </a>
  </div>
<!-- JiaThis Button BEGIN -->
<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jiathis_r.js" charset="utf-8"></script>
<!-- JiaThis Button END -->
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__ROOT__/Public/Ui/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__ROOT__/Public/Ui/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="__ROOT__/Public/Ui/assets/js/amazeui.min.js"></script>
</body>
</html>
