<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>用户管理</title>
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Others/default/easyui.css" />
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Others/icon.css" />
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Css/demo.css" />
	<script  src="__ROOT__/Public/Js/jquery-1.11.2.min.js"></script>
	<script  src="__ROOT__/Public/Js/jquery.easyui.min.js"></script>
</head>
<script type="text/javascript">
function destroyUser(){
	var rows = $('#dg').datagrid('getSelections');
	if (rows){
		$.messager.confirm('Confirm','你确定要删除?',function(r){
			if (r){
				var uri="__CONTROLLER__/deleteuser";
				for(var i=0;i<rows.length;i++){
					var row=rows[i];
					$.post(uri,{'id':row.id},function(result){
						$.messager.show({	// show error message
							title: '消息',
							msg: result
						});
						$('#dg').datagrid('reload');	// reload the user da
				});
				}
			}
		});
	}else{
	alert("请勾选按钮")}
}

function updateuser(){
		var row = $('#dg').datagrid('getSelected');
		if (row){
			window.location.href="__CONTROLLER__/updateuser?id="+row.id; 
		}else{
			alert("请勾选按钮")}
		}
function adduser(){
	window.location.href="__CONTROLLER__/adduser";
}
		
</script>
</head>
<body>
  	<table id="dg" title="学生管理" class="easyui-datagrid" style="width:550px;height:250px"
		url="__CONTROLLER__/listcoldusers" 
		toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="false"  pagination="true"
		    pageList="[5,10,30]" fit="true">
	<thead>
		<tr>
			<th field='ck' checkbox="true"></th>
			<th field='id' title='用户ID' width="100">用户ID</th>
			<th field='username' title='用户名' width="100">用户名</th>
		    <th field='nickname' title='昵称' width="100">昵称</th>
			<th field='loginnum' title='登陆次数' width="100">登陆次数</th>
			<th field='lastloginip' >上次登陆IP</th>
			<th field='lastlogintime'  >上次登陆时间</th>
			<th field='createtime'  >创建时间</th>
			<th field='updatetime'  >修改时间</th>
			<th field='email'  >Email</th>
			<th field='status'  align='right'>状态</th>
		</tr>
	</thead>
</table>
<div id="toolbar">
	<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="updateuser()">编辑用户</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">删除用户</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="adduser()">增加用户</a>
</div>
<div id="dlg-buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveUser()">Save</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">Cancel</a>
</div>
</body>
</html>