<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>月预测统计数据</title>
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Others/default/easyui.css" />
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Others/icon.css" />
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Css/demo.css" />
	<script  src="__ROOT__/Public/Js/jquery-1.11.2.min.js"></script>
	<script  src="__ROOT__/Public/Js/jquery.easyui.min.js"></script>
</head>

<body>
  	<table id="dg" title="月预测统计数据"  style="width:550px;height:250px">
	</table>
	
<div id="toolbar">
<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="seedetail()">查看详情</a>
<label> </label><input style='padding:0 20px;height:50px;width:200px' id='aa' value='0.5' type='text' name='aa' placeholder="系数a">
<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="forecastss(1)">预测</a>
<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="forecastss(2)">导出</a>
<!-- 	<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="updateuser()">编辑单页</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">删除单页</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="adduser()">增加单页</a>
 -->		
</div>
<script type="text/javascript">
function forecastss(ok){
	var s='{$name}';	
	$('#dg').datagrid('load', {    
		ab:$('#aa').val(),
		l:s
		})
		if(ok==2){
			window.open('__CONTROLLER__/forecastss?ab='+$('#aa').val()+"&l="+s);
		}
}
function seedetail(){
	var rows = $('#dg').datagrid('getSelections');
	if (rows!=''){
				for(var i=0;i<rows.length;i++){
					var row=rows[i];
					var id=row.id;
					var day=row.yearmonth;
					var shopid=row.shopid;
					//alert(day+shopname);
					window.open("__CONTROLLER__/seedetail?refshopid="+shopid+"&day="+day+"&id="+id);
				}
	}else{
	alert("请勾选按钮")}
}
</script>
<script type="text/javascript">
var a=$('#aa').val();
var s='{$name}';
$('#dg').datagrid({    
    url:'__CONTROLLER__/forecasts',
    queryParams:{'l':s,'ab':a},
    collapsible:true,
    toolbar: '#toolbar',
    rownumbers:true,
    singleSelect:true,
   // pagination:true,
   // pageSize:30,
   // singleSelect:true,
	//pageList:[5,10,50],
	fit:true, 	
    columns:[[
        {field:'ck',checkbox:true}, 
        {field:'id',title:'ID',hidden:true}, 
        {field:'shopid',title:'shopID',hidden:true},   
        {field:'shopname',width:120,title:'店铺名'},    
        {field:'yearmonth',title:'时间',width:80},
        {field:'cgmoney',title:'日成交额（常规）',width:120,
        	formatter: function(value,row,index){
        		return "<span style='color:red'>"+CurrencyFormatted(value,1)+"</span>";
        	}},
            {field:'qcgmoney',title:'去年同期日成交额',width:120,
            	formatter: function(value,row,index){
            		if(value=='none'){
            			return value;
            		}
            		return "<span style='color:blue'>"+CurrencyFormatted(value,1)+"</span>";
            	}},    
            {field:'yu',title:'预测值',width:80,
                	formatter: function(value,row,index){	if(value=='none'){
            			return value;
            		}
                		return "<span style='color:blue'>"+CurrencyFormatted(value,1)+"</span>";
                	}},    
            {field:'yi',title:'一次指数平滑',width:80,
                    	formatter: function(value,row,index){	if(value=='none'){
                			return value;
                		}
                    		return "<span style='color:blue'>"+CurrencyFormatted(value,1)+"</span>";
                    	}},    
            {field:'er',title:'二次指数平滑',width:80,
                        	formatter: function(value,row,index){	if(value=='none'){
                    			return value;
                    		}
                        		return "<span style='color:blue'>"+CurrencyFormatted(value,1)+"</span>";
                        	}},    
            {field:'err',title:'绝对误差',width:80,
                            	formatter: function(value,row,index){	if(value=='none'){
                        			return value;
                        		}
                            		return "<span style='color:blue'>"+CurrencyFormatted(value,1)+"</span>";
                            	}},
               {field:'sumrate',title:'月完成率（总体）！！',width:120,
               	formatter: function(value,row,index){
               		return "<span style='color:red'>"+CurrencyFormatted(value*100,2)+"</span>";
               	}
               },
               {field:'qsumrate',title:'去年同期月完成率（总体）',width:120,
                  	formatter: function(value,row,index){
                  		return "<span style='color:blue'>"+CurrencyFormatted(value*100,2)+"</span>";
                  	}
                  },
                {field:'cgrate',title:'月完成率(常规)！！',width:120
            	,
            	formatter: function(value,row,index){
            		return "<span style='color:red'>"+CurrencyFormatted(value*100,2)+"</span>";
            	}
                },
                {field:'qcgrate',title:'去年同期月完成率(常规)',width:120
                	,
                	formatter: function(value,row,index){
                		return "<span style='color:blue'>"+CurrencyFormatted(value*100,2)+"</span>";
                	}
                    },
            {field:'status',title:'状态',width:80,
                	formatter: function(value,row,index){
                		if(value=='1'){
                		return "<span style='color:green'>正常</span>";
                		}
                		else if(value=='0'){
                			return "<span style='color:red'>异常</span>";	
                		}else{
                			return '';
                		}
                	}},
                    {field:'day',title:'月最后一天',width:100
                        /*  	,
                          	formatter: function(value,row,index){
                          		return value.toFixed(2);
                          	}	 
                           */
                          },
            {field:'calday',title:'常规天数',width:80},
            {field:'paichushijian',title:'排除时间(常规里排除)',width:120,
            	formatter: function(value,row,index){
            		if(value){
                		return "<div style='word-break:break-all;white-space:pre-wrap; '>"+value+"</div>";
                		}else{
                			return '';
                		}
            	}},
            {field:'paichustatus',title:'排除状态',width:80,
            	formatter: function(value,row,index){
            		if(value=='1'){
            		return "<span style='color:green'>已排除</span>";
            		}
            		else if(value=='0'){
            			return "<span style='color:red'>排除中</span>";	
            		}else{
            			return "";
            		}
            	}},
            {field:'createtime',title:'计算时间',width:120},
            {field:'updatetime',title:'查询时间',width:120},
            {field:'username',title:'操作人',width:120}
    ]]    
});


	
function CurrencyFormatted(amount,ok) {
    var i = parseFloat(amount);
    if(isNaN(i)) { return  ''; }
    var minus = '';
    if(i < 0) { minus = '-'; }
    i = Math.abs(i);
    i = parseInt((i + .005) * 100);
    i = i / 100;
    s = new String(i);
    if(s.indexOf('.') < 0) { s += '.00'; }
    if(s.indexOf('.') == (s.length - 2)) { s += '0'; }
    s = minus + s;
    if(ok==2){
    return s+"%";}else{
    	return s;
    }
}



</script>
</body>
</html>