<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>查看字典</title>
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Others/default/easyui.css" />
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Others/icon.css" />
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Css/demo.css" />
	<script  src="__ROOT__/Public/Js/jquery-1.11.2.min.js"></script>
	<script  src="__ROOT__/Public/Js/jquery.easyui.min.js"></script>
</head>

<body>
  	<table id="dg" title="查看字典"  style="width:550px;height:250px">
	</table>
	
<div id="toolbar">
<!-- 	<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="updateuser()">编辑单页</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">删除单页</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="adduser()">增加单页</a>
 -->		  <span>
				    <select id='type' class="form-control" name='type' style='width:100px;margin: 0 20px'> 
				      <volist name="type" id="vo">
				      <option value={$vo.type}>{$vo.type}</option> 
				  		</volist>
					</select>
					 <select id='nullscore' class="form-control" name='nullscore' style='width:100px;margin: 0 20px'> 
					 <option value=0>未打分</option> 
					 <option value=1>已打分</option> 
					 </select>
	<a href="#" class="easyui-linkbutton" onclick="getabout()">查询</a>
	</span> 
</div>

<script type="text/javascript">
$('#dg').datagrid({    
    url:'__CONTROLLER__/listdictionarys',  
    collapsible:true,
    toolbar: '#toolbar',
    rownumbers:true,
    pagination:true,
    singleSelect:true,
    pageSize:30,
	fit:true, 	
    columns:[[
        {field:'ck',checkbox:true}, 
        {field:'id',title:'ID',hidden:true},   
        {field:'content',width:200,title:'字典内容'},    
        {field:'type',title:'维度',width:200,sortable:true},
        {field:'score',title:'分数',width:300,sortable:true,
        //	
        formatter: function(value,row,index){
        	var content="<span style='margin-right:10px'>"+value+"</span>";
        	for(var i=1;i<=5;i++){
        		content+="<button style='cursor:pointer;margin-right:10px' onclick='updatescore("+row.id+","+i+")'>"+i+"</button>"
        	}
        	return content;
        }
        //
        },   
        {field:'people',width:200,title:'打分人'},   
        {field:'createtime',width:200,title:'打分时间'}
    ]]    
});

function updatescore(id,score){
	if(confirm('确定打为'+score+"分")){
		//alert(score);
		var uri='__CONTROLLER__/updatescore'
		$.post(uri,{'id':id,'score':score},function(result){
			$.messager.show({	// show error message
				title: '消息',
				msg: result
			});
			$('#dg').datagrid('reload');	// reload the user da
	});
	}
}

function getabout(){
	var type=$('#type').val();
	var nullscore=$('#nullscore').val();
	$('#dg').datagrid('load', {    
		type: type,
		nullscore:nullscore
	});
}

</script>
</body>
</html>