<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>对比VS情感分析雷达</title>
    	<link rel="stylesheet" href="__ROOT__/Public/Css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Others/default/easyui.css" />
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Others/icon.css" />
	<script  src="__ROOT__/Public/Js/jquery-1.11.2.min.js"></script>
	<script  src="__ROOT__/Public/Js/jquery.easyui.min.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="height:400px"></div>
            <div class='container'>
    <p>戳右边这个查看这是什么商品：<a href='{$data1.item_url}' target="_blank">{$data1.item_url}</a></p>
     <p>戳右边这个查看这是什么商品：<a href='{$data2.item_url}' target="_blank">{$data2.item_url}</a></p>
     </div>	
    <hr />
      <div id="main1" style="height:400px"></div>
      <div class='container'>
		<div style="margin:20px;text-align:center">
		      <select id='urlsb' class="form-control" name='status' > 
				      <option value={$data1.item_url}>{$data1.item_url}</option> 
				      <option value={$data2.item_url}>{$data2.item_url}</option> 
		</select>
		<div class="form-control" >
		<a href="#"  onclick="geturlsb()">查询字典匹配程度</a>
		</div>
		</div>
      </div>
      <div>
      <table id="dg" title="查看字典"  style="margin:20px; height:500px">
	</table>
	<div id="toolbar">
	</div>
      </div>
    <!-- ECharts单文件引入 -->
    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
    <script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: '__ROOT__/Public/Qingmu/dist'
            }
        });
        
        // 使用
        require(
            [
                'echarts',
                'echarts/chart/radar', // 使用柱状图就加载bar模块，按需加载
                'echarts/chart/bar' 
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('main')); 
                var myChart1 = ec.init(document.getElementById('main1')); 
                var 
                option = {
                	    title : {
                	        text: '商品情感分析对比(分数)',
                	        subtext: '对比后不信请点击下方URL看字典匹配程度',
                	    },
                	    tooltip : {
                	        trigger: 'axis'
                	    },
                	    legend: {
                	        orient : 'vertical',
                	        x : 'right',
                	        y : 'bottom',
                	        data:['{$data1.item_url}评论情感打分','{$data2.item_url}评论情感打分']
                	    },
                	    toolbox: {
                	        show : true,
                	        feature : {
                	            mark : {show: true},
                	            dataView : {show: true, readOnly: false},
                	            restore : {show: true},
                	            saveAsImage : {show: true}
                	        }
                	    },
                	    polar : [
                	       {
                	           indicator : [
                	               { text: '质量', max: 5},
                	               { text: '舒适度', max: 5},
                	               { text: '物流', max: 5},
                	               { text: '款式', max: 5},
                	               { text: '价格', max: 5},
                	               { text: '服务', max: 5},
                	               { text: '整体感受', max: 5}
                	            ]
                	        }
                	    ],
                	    calculable : true,
                	    series : [
                	        {
                	            name: '情感打分数据如下',
                	            type: 'radar',
                	            data : [
                	                {
                	                    value : [{$data1.d1},{$data1.d2},{$data1.d3},{$data1.d4},{$data1.d5},{$data1.d6},{$data1.d7}],
                	                    name : '{$data1.item_url}评论情感打分'
                	                },
                	                {
                	                    value : [{$data2.d1},{$data2.d2},{$data2.d3},{$data2.d4},{$data2.d5},{$data2.d6},{$data2.d7}],
                	                    name : '{$data2.item_url}评论情感打分'
                	                }
                	            ]
                	        }
                	    ]
                	};
                	                    
        	var option1 = {
        	  	    title : {
            	        text: '商品情感分析对比(匹配次数)',
            	        subtext: '对比后不信请点击下方URL看字典匹配程度',
            	    },
        		    tooltip : {
        		        trigger: 'axis',
        		        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
        		            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
        		        }
        		    },
        		    legend: {
        		        data:['{$data1.item_url}','{$data2.item_url}']
        		    },
        		    toolbox: {
            	        show : true,
            	        feature : {
            	            mark : {show: true},
            	            dataView : {show: true, readOnly: false},
            	            restore : {show: true},
            	            saveAsImage : {show: true}
            	        }
            	    },
        		    grid: {
        		        left: '3%',
        		        right: '4%',
        		        bottom: '3%',
        		        containLabel: true
        		    },
        		    xAxis : [
        		        {
        		            type : 'category',
        		            data : ['质量', '舒适度', '物流', '款式', '价格', '服务', '整体感受']
        		        }
        		    ],
        		    yAxis : [
        		        {
        		            type : 'value'
        		        }
        		    ],
        		    series : [
        		        {
        		            name:'{$data1.item_url}',
        		            type:'bar',
        		            data:[{$data1.t1},{$data1.t2},{$data1.t3},{$data1.t4},{$data1.t5},{$data1.t6},{$data1.t7}]
        		        },
        		        {
        		            name:'{$data2.item_url}',
        		            type:'bar',
        		            data:[{$data2.t1},{$data2.t2},{$data2.t3},{$data2.t4},{$data2.t5},{$data2.t6},{$data2.t7}]
        		        }
        		    ]
        		};

        		                    
                // 为echarts对象加载数据 
                myChart.setOption(option); 
                myChart1.setOption(option1);
            }
        );
    </script>
          <script type="text/javascript">
          function geturlsb(){
        	  var urlsb=$('#urlsb').val();
        	  $('#dg').datagrid({    
        		    url:'__CONTROLLER__/listsb',
        		    queryParams:{url:urlsb},
        		    collapsible:true,
        		    toolbar: '#toolbar',
        		    rownumbers:true,
        		    pagination:true,
        		    singleSelect:true,
        			pageList:[5,10,30],
        			//fit:true, 	
        		    columns:[[
{field:'ck',checkbox:true}, 
{field:'id',title:'ID',hidden:true},   
              {field:'comment_id',title:'评论',
    formatter: function(value,row,index){
    	var content="<div style='white-space:normal; width:500px;'>"+value+"</div>";
    	return content;
    }	},
              {field:'p1',title:'质量',width:115},
              {field:'p2',title:'舒适度',width:115},
              {field:'p3',title:'物流',width:115},
              {field:'p4',title:'款式',width:115},
              {field:'p5',title:'价格',width:115},
              {field:'p6',title:'服务',width:115},
              {field:'p7',title:'整体感受',width:115},
              {field:'createtime',title:'打分时间',width:145},
 
    ]]     
        		});
          }

      </script>
</body>