<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>雷达图</title>
	<link rel="stylesheet" href="__ROOT__/Public/Css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Others/default/easyui.css" />
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Others/icon.css" />
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Css/demo.css" />
	<script  src="__ROOT__/Public/Js/jquery-1.11.2.min.js"></script>
	<script  src="__ROOT__/Public/Js/jquery.easyui.min.js"></script>
	<script  src="__ROOT__/Public/tool/Chart.js"></script>
	<script src="__ROOT__/Public/Js/bootstrap.min.js"></script>
</head>
<body>
<div id="toolbar">
<!-- 	<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="updateuser()">编辑单页</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">删除单页</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="adduser()">增加单页</a>
 -->		<!--   <span>
				    <select id='shopname' name='shopname' style='width:100px;margin: 0 20px'> 
				      <volist name="shopname" id="vo">
				      <option value={$vo.shop_name}>{$vo.shop_name}</option> 
				  		</volist>
		</select>
	<a href="#" class="easyui-linkbutton"  onclick="getabout()">查询</a>
	</span>  -->
</div>
<div>
<div class='container'  style="margin-top: 20px">
			<h2>商品评论情感分析雷达图(有 Bug,已经尽力了)</h2>
			<p id='render' style="font-size:1.2em">请点击下方所示的评论，方便展示雷达图</p>
	</div>
		<div style="width:50%;margin:0 auto">
			<canvas id="canvas" height="500px" width="600px"></canvas>
		</div>
  	<table id="dg" title="雷达图"  style="">
	</table>
	<script>
	var radarChartData = {
		labels: ["质量", "舒适度", "物流", "款式", "价格", "服务", "整体感受"],
		datasets: [
/* {
	label: '示例',
	fillColor: "rgba(151,187,205,0.2)",
	strokeColor: "rgba(0,187,205,1)",
	pointColor: "rgba(151,187,205,1)",
	pointStrokeColor: "#fff",
	pointHighlightFill: "#fff",
	pointHighlightStroke: "rgba(151,187,205,1)",
	data: [5,5,5,5,5,5,5]
} */
		]
	};

	window.onload = function(){
		window.myRadar = new Chart(document.getElementById("canvas").getContext("2d")).Radar(radarChartData, {
			responsive: true
		});
	}

	</script>
</div>

<script type="text/javascript">
$('#dg').datagrid({    
    url:'__CONTROLLER__/listrender',  
    collapsible:true,
    toolbar: '#toolbar',
    rownumbers:true,
    pagination:true,
	pageList:[5,10,30],
	striped:true,
    columns:[[
        {field:'ck',checkbox:true}, 
        {field:'id',title:'ID',hidden:true},      
        {field:'item_url',title:'商品url',width:300,sortable:true,
            //	
            formatter: function(value,row,index){
            	return "<div class='comment' style='background-color:red'><a target='_blank' href='"+value+"'>"+value+"</a></div>"}
            //
        },
        {field:'updatetime',title:'更新时间'},
        {field:'d1',precision:'2',title:'质量平均分'},
        {field:'t1',title:'质量匹配次数'},
        {field:'d2',title:'舒适度平均分'},
        {field:'t2',title:'舒适度匹配次数'},
        {field:'d3',title:'物流平均分'},
        {field:'t3',title:'物流匹配次数'},
        {field:'d4',title:'款式平均分'},
        {field:'t4',title:'款式匹配次数'},
        {field:'d5',title:'价格平均分'},
        {field:'t5',title:'价格匹配次数'},
        {field:'d6',title:'服务平均分'},
        {field:'t6',title:'服务匹配次数'},
        {field:'d7',title:'整体感受平均分'},
        {field:'t7',title:'整体感受匹配次数'},
        
    ]],
onClickRow: function (index, row){
		var isexist=0;

		for(var i=0;i<radarChartData['datasets'].length;i++){
			if(radarChartData['datasets'][i]['label']===row.item_url){
				alert(row.item_url+'已经存在,我们将删除');
				radarChartData['datasets'].splice(i,1);
				$("#"+row.id+"").remove();
				isexist=1;
				break;
			}else{
				continue;
			}
		}
		if(isexist){
			
		}else{
			var color1=GetRandomNum(0,125);
			//alert(color);
			var radarChartData1 = 
			{
					id:row.id,
				label: row.item_url,
				fillColor: "rgba(151,187,205,0.2)",
				strokeColor: "rgba("+color1+",187,205,1)",
				pointColor: "rgba(151,187,205,0.2)",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(151,187,205,1)",
				data: [row.d1,row.d2,row.d3,row.d4,row.d5,row.d6,row.d7]
			};
			$('#render').append("<p id='"+row.id+"'><a target='_blank' style='font-size:1.2em' href='"+row.item_url+"'>"+row.item_url+"</a><button onclick='removeurl("+row.id+")'>移除</button></p>");
    		radarChartData['datasets'].push(radarChartData1);
		}
		
	window.myRadar = new Chart(document.getElementById("canvas").getContext("2d")).Radar(radarChartData, {
		responsive: true
	});
}
});



function removeurl(url){
	//alert(url);
	for(var i=0;i<radarChartData['datasets'].length;i++){
	//	alert(radarChartData['datasets'][i]['id']);
		if(radarChartData['datasets'][i]['id']==url){
			alert(radarChartData['datasets'][i]['label']+'已经存在,我们将删除');
			radarChartData['datasets'].splice(i,1);
			break;
		}
	}
 	$("#"+url+"").remove();
	window.myRadar = new Chart(document.getElementById("canvas").getContext("2d")).Radar(radarChartData, {
		responsive: true
	}); 
}

function GetRandomNum(Min,Max)
{   
var Range = Max - Min;   
var Rand = Math.random();   
return(Min + Math.round(Rand * Range));   
}   

function getabout(){
	var shopname=$('#shopname').val();
	$('#dg').datagrid('load', {    
		shopname: shopname
	});
}

</script>
</body>
</html>