<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>月详情数据页</title>
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Others/default/easyui.css" />
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Others/icon.css" />
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Css/demo.css" />
	<script  src="__ROOT__/Public/Js/jquery-1.11.2.min.js"></script>
	<script  src="__ROOT__/Public/Js/jquery.easyui.min.js"></script>
</head>

<body>
  	<table id="dg" title="OA数据"  style="width:550px;height:250px">
	</table>
	
<div id="toolbar">
<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="rid()">勾选剔除</a>
<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="exportdata()">导出月份数据</a>
<!-- 	<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="updateuser()">编辑单页</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">删除单页</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="adduser()">增加单页</a>
 -->		  <span>
	</span> 
</div>
<script type="text/javascript">
function rid(){
	var rows = $('#dg').datagrid('getSelections');
	if (rows!=''){
				var s='{$id}';
				for(var i=0;i<rows.length;i++){
					var row=rows[i];
					var id=row.statday
					s=s+','+id;
				}
			 $.post('__CONTROLLER__/pai',{'pai':s},function(result){
				 alert(result);
			 });
	}else{
	alert("请勾选按钮")}
}

function exportdata(){
	window.open("__CONTROLLER__/exportdata?refshopid="+'{$refshopid}'+"&day="+'{$yearmonth}');
}
</script>
<script type="text/javascript">


$('#dg').datagrid({    
    url:'__CONTROLLER__/listtime',  
    collapsible:true,
    toolbar: '#toolbar',
    rownumbers:true,
    pageSize:30,
   // pagination:true,
    queryParams:{		
    	'refshopid':{$refshopid},
		'bt':'{$bt}',
		'et':'{$et}'},
	fit:true, 	
    columns:[[
        {field:'ck',checkbox:true}, 
        {field:'id',title:'ID',hidden:true},   
        {field:'refshopid',width:120,title:'店铺名'},    
        {field:'statday',title:'时间',width:80},
        {field:'sumday',title:'日累计（总体）',width:130
      /*  	,
        	formatter: function(value,row,index){
        		return value.toFixed(2);
        	}	 
         */
        },
        {field:'dayplan',title:'日目标（总体）',width:130,
        	formatter: function(value,row,index){
        		return "<span>"+CurrencyFormatted(value)+"</span>";
        	}},
        {field:'dayplanrate',title:'日完成率（总体）',width:130,
        	formatter: function(value,row,index){
        		return "<span style='color:red'>"+CurrencyFormatted(value*100)+"%</span>";
        	}},
            {field:'summonth',title:'月累计（总体）',width:130},
            {field:'plan',title:'月目标（总体） ',width:130
                /*        	,
               	formatter: function(value,row,index){
               		return value.toFixed(2);
               	}	 */ 
               },
               {field:'monthplanrate',title:'月完成率（总体）！！',width:130,
               	formatter: function(value,row,index){
               		return "<span style='color:red'>"+CurrencyFormatted(value*100)+"%</span>";
               	}
               },  //常规月累计成交量   
            {field:'sumcgmonthmoney',title:'月累计（常规）',width:130},
            {field:'lzcgplan',title:'月目标（常规） ',width:130
                /*        	,
               	formatter: function(value,row,index){
               		return value.toFixed(2);lzcgplan
               	}	 */ 
               },
                {field:'monthcgplanrate',title:'月完成率(常规)！！',width:130
            	,
            	formatter: function(value,row,index){
            		return "<span style='color:red'>"+CurrencyFormatted(value*100)+"%</span>";
            	}
                },  //活动月累计成交量   
                {field:'sumhdmonthmoney',title:'月累计（活动）',width:130},
                {field:'lzhdplan',title:'月目标（活动） ',width:130
                    /*        	,
                   	formatter: function(value,row,index){
                   		return value.toFixed(2);lzcgplan
                   	}	 */ 
                   },
                    {field:'monthhdplanrate',title:'月完成率(活动)！！',width:130
                	,
                	formatter: function(value,row,index){
                		return "<span style='color:red'>"+CurrencyFormatted(value*100)+"%</span>";
                	}
                    },  //聚划算月累计成交量   
                    {field:'sumjhsmonthmoney',title:'月累计（聚划算）',width:130},
                    {field:'lzjhsplan',title:'月目标（聚划算） ',width:130
                        /*        	,
                       	formatter: function(value,row,index){
                       		return value.toFixed(2);lzcgplan
                       	}	 */ 
                       },
                        {field:'monthjhsplanrate',title:'月完成率(聚划算)！！',width:130
                    	,
                    	formatter: function(value,row,index){
                    		return "<span style='color:red'>"+CurrencyFormatted(value*100)+"%</span>";
                    	}
                        },
            {field:'sumcgmoney',title:'日成交额（常规） ',width:130,
                   	formatter: function(value,row,index){
                   		return "<span style='color:blue'>"+value+"</span>";
                   	}},
            {field:'sumhdmoney',title:'日成交额（活动）',width:130,
                       	formatter: function(value,row,index){
                       		return "<span style='color:blue'>"+value+"</span>";
                       	}},
            {field:'sumjhsmoney',title:'日成交额（聚划算）',width:130,
                           	formatter: function(value,row,index){
                           		return "<span style='color:blue'>"+value+"</span>";
                           	}}
    ]]    
});

function CurrencyFormatted(amount) {
    var i = parseFloat(amount);
    if(isNaN(i)) { i = 0.00; }
    var minus = '';
    if(i < 0) { minus = '-'; }
    i = Math.abs(i);
    i = parseInt((i + .005) * 100);
    i = i / 100;
    s = new String(i);
    if(s.indexOf('.') < 0) { s += '.00'; }
    if(s.indexOf('.') == (s.length - 2)) { s += '0'; }
    s = minus + s;
    return s;
}

</script>
</body>
</html>